@import url(reset.css);
@import url(font.css);
@import url(global.css);
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

.color-white {
  color: #fff;
}

.indent9999 {
  display: block;
  font-size: 0px;
  text-indent: -9999px;
}

.sp-icon {
  display: inline-block;
  background-image: url(../img/sp_icon.png);
}

.sp-icon.new {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background-position: -22px 0;
}

.sp-icon.new-blue {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background-position: -22px -17px;
}

.sp-icon.hot {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background-position: 0 0;
}

.point {
  position: relative;
}
.point::after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  top: -3px;
  right: -5px;
  border-radius: 50%;
  background: var(--redColor);
}

nav ul.left .sub-mn-box {
  left: -10px;
}
nav ul.right .sub-mn-box {
  right: -20px;
}
nav > ul {
  position: relative;
}
nav > ul > li .sub-mn-box.on {
  display: block;
}
nav > ul > li .sub-mn-box {
  position: absolute;
  display: none;
  bottom: -384px;
  z-index: 16;
  padding: 10px;
}
nav > ul > li .sub-mn-box .inner-box {
  position: relative;
  height: 360px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid var(--grayBG);
}
nav > ul > li .sub-mn-box .inner-box > ul {
  display: flex;
}
nav > ul > li .sub-mn-box .inner-box > ul > li {
  position: relative;
}
nav > ul > li .sub-mn-box .inner-box > ul > li::after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  width: 1px;
  height: 300px;
  background-color: var(--grayBG);
}
nav > ul > li .sub-mn-box .inner-box > ul > li:last-child::after {
  display: none;
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a {
  width: 180px;
  height: 26px;
  padding: 5px 10px;
  font-size: var(--soSmallSize);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a:hover {
  background-color: var(--grayBG);
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.title {
  font-weight: var(--boldWeight);
  font-size: var(--smallSize);
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.title:hover {
  color: var(--redColor);
  background-color: transparent;
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.small-title {
  font-size: var(--soSmallSize);
  font-weight: var(--boldWeight);
  position: relative;
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.small-title span {
  position: relative;
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.small-title span::after {
  content: "";
  position: absolute;
  display: none;
  width: 4px;
  height: 4px;
  top: 5px;
  right: -16px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: var(--redColor);
  transform: rotate(45deg);
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.small-title:hover {
  color: var(--redColor);
  background-color: transparent;
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.small-title:hover span::after {
  display: block;
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.more {
  position: relative;
  width: auto;
  font-size: var(--microSize);
  font-weight: var(--littelBoldWeightWeight);
  color: var(--grayColor);
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.more::before {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  height: 3px;
  top: 9px;
  right: 3px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--grayColor);
  transform: rotate(-45deg);
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.more::after {
  content: "";
  position: absolute;
  display: none;
  width: 25px;
  height: 1px;
  bottom: 8px;
  left: 10px;
  background-color: var(--grayColor);
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.more:hover {
  background-color: transparent;
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.more:hover::after {
  display: block;
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.sale {
  font-weight: var(--boldWeight);
  color: var(--redColor);
  position: relative;
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.sale::after {
  content: "";
  position: absolute;
  display: none;
  width: 32px;
  height: 1px;
  bottom: 6px;
  left: 8px;
  background-color: var(--redColor);
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.sale:hover {
  background-color: transparent;
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.sale:hover::after {
  display: block;
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.event {
  font-weight: var(--boldWeight);
  color: var(--blueColor);
  position: relative;
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.event::after {
  content: "";
  position: absolute;
  display: none;
  width: 42px;
  height: 1px;
  bottom: 6px;
  left: 8px;
  background-color: var(--blueColor);
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.event:hover {
  background-color: transparent;
}
nav > ul > li .sub-mn-box .inner-box > ul > li ul li a.event:hover::after {
  display: block;
}

.slide-btn {
  position: absolute;
  top: 50%;
  z-index: 15;
  transform: translateY(-50%);
}
.slide-btn:hover {
  cursor: pointer;
}

a .this-item {
  position: relative;
  overflow: hidden;
}
a .this-item .dis-mark.green {
  background-color: var(--deepGreenColor);
}
a .this-item .dis-mark {
  position: absolute;
  width: 70px;
  height: 50px;
  top: -19px;
  right: -31px;
  background-color: var(--redColor);
  color: #fff;
  text-align: center;
  line-height: 75px;
  letter-spacing: 1px;
  font-size: var(--soSmallSize);
  font-weight: var(--littleBoldWeight);
  transform: rotate(45deg);
  transition: 0.35s;
}
a .this-item .text-box {
  position: absolute;
  width: 100%;
  bottom: -55px;
  left: 0;
  z-index: 10;
  padding: 10px;
  font-size: var(--smallSize);
  background-color: rgba(0, 0, 0, 0.5725490196);
  color: #fff;
  transition: 0.35s;
}
a .this-item .text-box .item-name {
  font-weight: var(--boldWeight);
  margin-bottom: 5px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
a .this-item .text-box .price {
  font-weight: var(--basicWeight);
}
a .this-item .text-box .price span {
  color: var(--pinkColor);
  font-weight: var(--midiumWeight);
  margin-right: 10px;
}
a .this-item .text-box .price span.green {
  color: var(--greenColor);
}
a:hover .this-item .dis-mark {
  top: -49px;
  right: -61px;
}
a:hover .this-item .text-box {
  bottom: 0;
}

.hover-mn-list {
  position: absolute;
  display: flex;
  top: 60px;
  right: 0px;
  gap: 10px;
  text-align: center;
  color: var(--deepGrayColor);
  font-weight: var(--basicWeight);
  font-size: var(--basicSize);
}
.hover-mn-list li.on a {
  position: relative;
  color: var(--black);
  font-weight: var(--boldWeight);
}
.hover-mn-list li.on a::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -15px;
  left: 0;
  background-color: var(--blueColor);
}

.tab-wrap {
  position: relative;
}
.tab-wrap .tab-box {
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: 0;
}
.tab-wrap .tab-box.on {
  opacity: 1;
  z-index: 5;
}

.coupon {
  position: relative;
  font-size: var(--smallSize);
  font-weight: var(--boldWeight);
  line-height: 20px;
}
.coupon::after {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  right: -15px;
  width: 4px;
  height: 4px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: var(--black100);
  transform: rotate(-45deg);
}

.blue {
  color: var(--blueColor);
}

.red {
  color: var(--redColor);
}

.pink {
  color: var(--pinkColor);
}

.green {
  color: var(--greenColor);
}

.gray {
  color: var(--grayColor);
}

.deep-gray {
  color: var(--deepGrayColor);
}

.slim {
  font-weight: var(--slimWeight);
}

.bold {
  font-weight: var(--boldWeight);
}

.flex {
  display: flex;
}

header .header-box .util-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--grayBG);
  font-size: var(--soSmallSize);
  font-weight: var(--basicWeight);
}
header .header-box .util-box .util-mn-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}
header .header-box .util-box .util-mn-list .login-mn {
  position: relative;
  display: flex;
  gap: 8px;
  margin-right: 10px;
}
header .header-box .util-box .util-mn-list .login-mn::after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  right: -13px;
  width: 1px;
  height: 12px;
  background-color: var(--deepGrayBG);
}
header .header-box .util-box .util-mn-list .cart-li:hover .cart-list-box {
  display: block;
}
header .header-box .util-box .util-mn-list .cart-li {
  position: relative;
}
header .header-box .util-box .util-mn-list .cart-li .cart-btn {
  position: relative;
}
header .header-box .util-box .util-mn-list .cart-li .cart-btn::after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  top: 2px;
  right: -12px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: var(--grayColor);
  transform: rotate(45deg);
}
header .header-box .util-box .util-mn-list .cart-li .cart-btn .sp-icon {
  width: 8px;
  height: 10px;
  background-position: -11px -95px;
  background-size: 133px auto;
  margin-right: 5px;
}
header .header-box .util-box .util-mn-list .cart-li .cart-list-box {
  position: absolute;
  display: none;
  bottom: -170px;
  right: -20px;
  z-index: 8;
  padding: 10px;
}
header .header-box .util-box .util-mn-list .cart-li .cart-list-box .inner-box {
  position: relative;
  width: 300px;
  height: 150px;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
}
header .header-box .util-box .util-mn-list .cart-li .cart-list-box .inner-box::after {
  content: "";
  position: absolute;
  display: block;
  top: -5px;
  right: 35px;
  width: 10px;
  height: 10px;
  background: #fff;
  transform: rotate(45deg);
}
header .header-box .util-box .util-mn-list .cart-li .cart-list-box .inner-box .tip {
  font-size: var(--reallySmallSize);
  font-weight: var(--mediumWeight);
  color: var(--grayColor);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--deepGrayBG);
}
header .header-box .util-box .util-mn-list .cart-li .cart-list-box .inner-box .null {
  position: absolute;
  white-space: nowrap;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--reallySmallSize);
  font-weight: var(--littleBoldWeight);
  color: var(--grayColor);
}
header .header-box .util-box .util-mn-list .cart-li .cart-list-box .inner-box ul {
  margin-top: 10px;
}
header .header-box .main-header-box {
  width: 100%;
  height: 86px;
}
header .header-box .main-header-box .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
}
header .header-box .main-header-box .wrapper .special-mn-box {
  display: flex;
  gap: 20px;
  align-items: center;
}
header .header-box .main-header-box .wrapper .special-mn-box .special-mn-list {
  display: flex;
  gap: 20px;
}
header .header-box .main-header-box .wrapper .special-mn-box .search-box {
  position: relative;
}
header .header-box .main-header-box .wrapper .special-mn-box .search-box input {
  width: 262px;
  height: 30px;
  border-radius: 20px;
  padding: 5px;
  text-indent: 10px;
  border: 2px solid var(--redColor);
}
header .header-box .main-header-box .wrapper .special-mn-box .search-box input:focus {
  outline: none;
}
header .header-box .main-header-box .wrapper .special-mn-box .search-box a {
  position: absolute;
  top: 7px;
  right: 14px;
}
header .header-box .main-header-box .wrapper .special-mn-box .search-box a .sp-icon {
  width: 14px;
  height: 14px;
  background-position: -108px 0;
}
header .header-box nav {
  width: 100%;
  height: 45px;
}
header .header-box nav .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  font-size: var(--basicSize);
}
header .header-box nav .nav-list > li {
  position: relative;
}
header .header-box nav .nav-list > li:last-child::after {
  display: none;
}
header .header-box nav .nav-list > li::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 10px;
  top: 3px;
  right: -23px;
  background-color: var(--deepGrayBG);
}
header .header-box nav .nav-list > li > a {
  padding: 5px 10px;
}
header .header-box nav .nav-list > li > ul {
  display: flex;
  gap: 20px;
}

.main-visual-box .swiper-slide.swiper-slide-active .text-box {
  left: 360px;
  opacity: 1;
}
.main-visual-box .swiper-slide a {
  position: relative;
  display: block;
  height: 600px;
}
.main-visual-box .swiper-slide a > img {
  height: 100%;
}
.main-visual-box .swiper-slide a .text-box {
  position: absolute;
  top: 210px;
  left: 400px;
  opacity: 0;
  transition: 0.5s;
}
.main-visual-box .swiper-slide a .text-box .title {
  position: relative;
  font-size: var(--mainVisualSize);
  font-weight: var(--boldWeight);
  line-height: 50px;
  margin-bottom: 25px;
}
.main-visual-box .swiper-slide a .text-box .title .dis {
  position: absolute;
  display: inline-block;
  font-size: var(--smallSize);
  font-weight: 800;
  width: 52px;
  height: 24px;
  bottom: 15px;
  border-radius: 20px;
  text-align: center;
  line-height: 24px;
  background-color: var(--redColor);
  color: #fff;
}
.main-visual-box .swiper-slide a .text-box .title .dis::after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  left: 3px;
  bottom: -6px;
  border-color: var(--redColor) transparent transparent transparent;
  border-style: solid;
  border-width: 12px 12px 0 0;
}
.main-visual-box .swiper-slide a .text-box .desc {
  font-size: var(--midiumSize);
  font-weight: var(--basicWeight);
}
.main-visual-box .swiper-slide a .emblem-box {
  position: absolute;
  top: 35px;
  right: 370px;
  width: 75px;
}
.main-visual-box .main-visual-pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  bottom: 20px;
  z-index: 15;
  width: 200px;
  height: 10px;
  border-radius: 50%;
  transform: translateX(-50%);
}
.main-visual-box .main-visual-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.568627451);
}
.main-visual-box .main-visual-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
.main-visual-box .main-visual-prev {
  left: 50px;
  width: 40px;
  height: 72px;
  background-position: 0 -110px;
}
.main-visual-box .main-visual-next {
  right: 50px;
  width: 40px;
  height: 72px;
  background-position: -50px -110px;
}

.just-1day-sect {
  width: 100%;
  padding: 50px 0;
  background: url(../img/bg_pattern_slash.png) 0 0 repeat;
}
.just-1day-sect .just-1day-box {
  justify-content: space-between;
}
.just-1day-sect .just-1day-box .title-box h2 {
  margin-bottom: 100px;
}
.just-1day-sect .just-1day-box .title-box h2 span {
  font-size: var(--titleSize);
}
.just-1day-sect .just-1day-box .title-box .time-box .time-line {
  width: 200px;
  height: 3px;
  margin-bottom: 15px;
  background-color: var(--deepGrayBG);
}
.just-1day-sect .just-1day-box .title-box .time-box .time-line span {
  position: relative;
  display: block;
  width: 30%;
  height: 100%;
  background-color: var(--redColor);
}
.just-1day-sect .just-1day-box .title-box .time-box .time-line span em {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  top: -5px;
  right: 0;
  border-radius: 50%;
  background: #fff;
  border: 3px solid var(--redColor);
}
.just-1day-sect .just-1day-box .title-box .time-box .count-box {
  font-size: var(--basicSize);
}
.just-1day-sect .just-1day-box .title-box .time-box .count-box .remaining-time {
  margin-left: 10px;
  font-weight: var(--boldWeight);
}
.just-1day-sect .just-1day-box .item-box .flex {
  gap: 50px;
}
.just-1day-sect .just-1day-box .item-box .flex li a {
  text-align: center;
}
.just-1day-sect .just-1day-box .item-box .flex li a .item-img {
  display: block;
  width: 240px;
  height: 240px;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 13px solid #fff;
  overflow: hidden;
}
.just-1day-sect .just-1day-box .item-box .flex li a .item-name {
  font-size: var(--midiumSize);
  font-weight: var(--midiumWeight);
  margin-bottom: 10px;
  line-height: 20px;
}
.just-1day-sect .just-1day-box .item-box .flex li a .item-price {
  font-weight: var(--boldWeight);
}
.just-1day-sect .just-1day-box .item-box .flex li a .item-price span {
  margin-right: 10px;
  color: var(--redColor);
}

.sales-item-box {
  padding: 100px 0;
}
.sales-item-box .flex {
  gap: 30px;
}
.sales-item-box .flex li a .item-img {
  margin-bottom: 15px;
}
.sales-item-box .flex li a .title {
  font-size: var(--soBigSize);
  font-weight: var(--boldWeight);
  margin-bottom: 10px;
}
.sales-item-box .flex li a .title span {
  color: var(--blueColor);
}
.sales-item-box .flex li a .desc {
  font-size: var(--basicSize);
  font-weight: var(--midiumWeight);
}

.md-pick-sect {
  background: var(--underLine);
}
.md-pick-sect .md-pick-box {
  padding: 80px 0;
  justify-content: space-between;
}
.md-pick-sect .md-pick-box .title-box {
  font-size: var(--smallSize);
}
.md-pick-sect .md-pick-box .title-box h2 {
  font-size: var(--titleSize);
}
.md-pick-sect .md-pick-box .title-box p {
  position: relative;
  padding: 80px 0;
  line-height: 20px;
}
.md-pick-sect .md-pick-box .title-box p::before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: #000000;
  top: 70px;
  left: 0;
}
.md-pick-sect .md-pick-box .title-box .filter-list li {
  margin-bottom: 10px;
}
.md-pick-sect .md-pick-box .title-box .filter-list li a.active {
  background-color: #999;
  color: #fff;
}
.md-pick-sect .md-pick-box .title-box .filter-list li a {
  padding: 5px 10px;
  background-color: #eee;
  font-weight: var(--basicWeight);
  border-radius: 20px;
}
.md-pick-sect .md-pick-box .title-box .filter-list li:last-child a {
  margin-bottom: 0;
}
.md-pick-sect .md-pick-box .item-box .flex {
  width: 900px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.md-pick-sect .md-pick-box .item-box .flex a {
  width: 260px;
}
.md-pick-sect .md-pick-box .item-box .flex a .item-img {
  margin-bottom: 10px;
}
.md-pick-sect .md-pick-box .item-box .flex a .item-name {
  font-size: var(--basicSize);
  font-weight: var(--midiumWeight);
  margin-bottom: 25px;
  line-height: 20px;
  height: 30px;
}
.md-pick-sect .md-pick-box .item-box .flex a .item-name span {
  font-size: var(--microSize);
  margin-left: 5px;
  color: var(--blueColor);
}
.md-pick-sect .md-pick-box .item-box .flex a .price {
  font-size: var(--smallSize);
  font-weight: var(--basicWeight);
}
.md-pick-sect .md-pick-box .item-box .flex a .price span {
  color: var(--redColor);
  font-weight: var(--midiumWeight);
  margin-right: 10px;
}

.four-item-box {
  padding: 80px 0;
}
.four-item-box .flex {
  flex-wrap: wrap;
  justify-content: space-between;
}
.four-item-box .flex li a {
  width: 550px;
}
.four-item-box .flex li a .item-img {
  margin-bottom: 20px;
}
.four-item-box .flex li a .item-name {
  margin-bottom: 15px;
  font-size: var(--reallyBigSize);
  font-weight: var(--boldWeight);
}
.four-item-box .flex li a .item-name span {
  color: var(--redColor);
  margin-left: 10px;
}
.four-item-box .flex li a .desc {
  margin-bottom: 50px;
  font-size: var(--basicSize);
  font-weight: var(--midiumWeight);
}

.look-book-sect .look-book-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.look-book-sect .look-book-box .look-book-wrap {
  position: relative;
  display: flex;
}
.look-book-sect .look-book-box .look-book-wrap li {
  flex-shrink: 0;
}
.look-book-sect .look-book-box span {
  position: absolute;
  top: 50%;
  z-index: 15;
  transform: translateY(-50%);
  cursor: pointer;
}
.look-book-sect .look-book-box .prev-btn {
  left: 50px;
  width: 40px;
  height: 72px;
  background-position: 0 -110px;
}
.look-book-sect .look-book-box .next-btn {
  right: 50px;
  width: 40px;
  height: 72px;
  background-position: -50px -110px;
}

.popularity-sect .popularity-box {
  background: var(--underLine);
  position: relative;
  padding: 100px 0;
}
.popularity-sect .popularity-box .tab-wrap {
  height: 395px;
}
.popularity-sect .popularity-box .tab-wrap .tab-box {
  display: flex;
  justify-content: space-between;
}
.popularity-sect .popularity-box .tab-wrap .tab-box .title-box h2 {
  font-size: var(--titleSize);
  font-weight: var(--littleBold);
  line-height: 38px;
}
.popularity-sect .popularity-box .tab-wrap .tab-box .title-box h2 b {
  font-weight: var(--boldWeight);
}
.popularity-sect .popularity-box .tab-wrap .tab-box .item-box {
  width: 880px;
  padding: 10px;
}
.popularity-sect .popularity-box .tab-wrap .tab-box .item-box ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}
.popularity-sect .popularity-box .tab-wrap .tab-box .item-box ul li a {
  width: 180px;
  font-size: var(--smallSize);
}

.only-brand-sect .inner-box {
  position: relative;
  justify-content: space-between;
  background: var(--overLine);
  padding: 60px 0;
}
.only-brand-sect .inner-box::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 10px;
  bottom: 0;
  left: 0;
  background: var(--underLine);
}
.only-brand-sect .inner-box > div {
  width: 490px;
}
.only-brand-sect .inner-box .only-brand-box {
  position: relative;
}
.only-brand-sect .inner-box .only-brand-box::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  top: 0;
  right: -80px;
  background-color: var(--deepGrayBG);
}
.only-brand-sect .inner-box .only-brand-box .title-box {
  margin-bottom: 25px;
}
.only-brand-sect .inner-box .only-brand-box .title-box h2 {
  font-size: var(--titleSize);
}
.only-brand-sect .inner-box .only-brand-box .title-box h2 span {
  font-weight: var(--boldWeight);
}
.only-brand-sect .inner-box .only-brand-box .hover-mn-list {
  top: 10px;
}
.only-brand-sect .inner-box .only-brand-box .tab-wrap {
  height: 490px;
}
.only-brand-sect .inner-box .only-brand-box .tab-wrap .tab-box .main-img-box {
  width: 100%;
  margin-bottom: 15px;
}
.only-brand-sect .inner-box .only-brand-box .tab-wrap .tab-box .main-img-box img {
  width: 100%;
}
.only-brand-sect .inner-box .only-brand-box .tab-wrap .tab-box ul {
  display: flex;
  gap: 15px;
}
.only-brand-sect .inner-box .video-box img {
  width: 100%;
}

.login-now-box {
  position: relative;
  margin-bottom: 80px;
}
.login-now-box .mn-list {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  gap: 20px;
}
.login-now-box .mn-list li a {
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 20px;
  color: var(--redColor);
  font-size: var(--basicSize);
  font-weight: var(--littleBoldWeight);
}

.card-banner-box {
  padding: 80px 0;
  justify-content: space-between;
  background: var(--overLine);
}
.card-banner-box > div .title-box {
  display: flex;
  align-items: flex-end;
  padding: 25px 0;
}
.card-banner-box > div .title-box .title {
  font-size: var(--titleSize);
  font-weight: var(--boldWeight);
  margin-right: 20px;
}
.card-banner-box > div .title-box .desc {
  font-size: var(--basicSize);
  font-weight: var(--littleBold);
}

footer .footer-box .footer-main-box {
  width: 100%;
  background-color: var(--grayBG);
  padding: 100px 0;
}
footer .footer-box .footer-main-box .footer-main-inner {
  padding: 60px;
  background-color: #fff;
  border-width: 4px 0 0 0;
  border-style: solid;
  border-color: var(--redColor);
  justify-content: space-between;
  gap: 80px;
}
footer .footer-box .footer-main-box .footer-main-inner .info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
footer .footer-box .footer-main-box .footer-main-inner .info-box > div .title-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: var(--soBigSize);
  font-weight: var(--boldWeight);
  letter-spacing: 1px;
  padding: 15px 0;
}
footer .footer-box .footer-main-box .footer-main-inner .info-box > div .title-box::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--deepGrayBG);
}
footer .footer-box .footer-main-box .footer-main-inner .info-box > div .title-box .more-btn {
  position: relative;
  font-size: var(--microSize);
  font-weight: var(--littleBoldWeight);
  padding-right: 10px;
  color: var(--deepGrayColor);
}
footer .footer-box .footer-main-box .footer-main-inner .info-box > div .title-box .more-btn::after {
  content: "";
  position: absolute;
  display: block;
  top: 3px;
  right: 0;
  width: 4px;
  height: 4px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--grayColor);
  transform: rotate(-45deg);
}
footer .footer-box .footer-main-box .footer-main-inner .info-box > div ul.flex {
  gap: 100px;
  flex-wrap: wrap;
}
footer .footer-box .footer-main-box .footer-main-inner .info-box > div ul {
  width: 340px;
  padding: 10px 0;
}
footer .footer-box .footer-main-box .footer-main-inner .info-box > div ul li a {
  font-size: var(--smallSize);
  font-weight: var(--midiumWeight);
  padding: 8px 0;
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex > li {
  width: 200px;
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex > li .mn-title {
  font-size: var(--bigSize);
  font-weight: var(--boldWeight);
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex > li ul {
  padding: 20px 0;
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex > li ul li a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0;
  font-size: var(--smallSize);
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex > li ul li a span {
  width: 12px;
  height: 12px;
  margin-top: 2px;
  background-position: -192px 0;
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex > li ul li .instagram span {
  background-position: -192px 0;
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex > li ul li .facebook span {
  background-position: -170px 0;
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex > li ul li .youtube span {
  background-position: -182px -17px;
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex > li .join-text {
  font-size: var(--smallSize);
  line-height: 20px;
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex .mobile-list {
  padding: 0;
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex .mobile-list li .flex {
  gap: 20px;
  padding-bottom: 3px;
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex .mobile-list li .flex .qr {
  width: 60px;
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex .mobile-list li .flex .store-list {
  width: 96px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex .mobile-list li .flex .store-list li a {
  position: relative;
  padding: 0;
  width: 100%;
  height: 26px;
  overflow: hidden;
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex .mobile-list li .flex .store-list li a img {
  position: absolute;
  top: 0;
  left: 0;
}
footer .footer-box .footer-main-box .footer-main-inner .service-box > .flex .mobile-list li .flex .store-list li a:hover img {
  top: -26px;
}
footer .footer-box .footer-mn-box {
  width: 100%;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: var(--grayBG);
}
footer .footer-box .footer-mn-box .wrapper {
  padding: 10px 0;
  gap: 30px;
  font-size: var(--smallSize);
}
footer .footer-box .footer-sub-box {
  padding: 50px 0;
  justify-content: space-between;
}
footer .footer-box .footer-sub-box .company-box {
  line-height: 25px;
}
footer .footer-box .footer-sub-box .company-box .company-name {
  font-size: var(--bigSize);
  font-weight: var(--littelBoldWeight);
  margin-bottom: 10px;
}
footer .footer-box .footer-sub-box .company-box .company-desc {
  font-size: var(--smallSize);
  font-weight: var(--basicWeight);
}
footer .footer-box .footer-sub-box .company-box a.check {
  position: relative;
  font-size: var(--smallSize);
  font-weight: var(--mediumWeight);
  line-height: 20px;
  color: var(--grayColor);
  margin-left: 10px;
}
footer .footer-box .footer-sub-box .company-box a.check::after {
  content: "";
  position: absolute;
  display: block;
  top: 12px;
  right: -10px;
  width: 4px;
  height: 4px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--deepGrayBG);
  transform: rotate(-45deg);
}
footer .footer-box .footer-sub-box .company-box .service-list {
  font-size: var(--microSize);
  margin-top: 20px;
}
footer .footer-box .footer-sub-box .company-box .service-list .hosting {
  font-size: var(--midiumSize);
}
footer .footer-box .footer-sub-box .company-box .service-list .desc {
  line-height: 20px;
  margin: 10px 0;
}
footer .footer-box .footer-sub-box .company-box .service-list .copy {
  font-size: var(--smallSize);
}
footer .footer-box .footer-sub-box .cs-box .sns-list {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
footer .footer-box .footer-sub-box .cs-box .sns-list li a {
  width: 28px;
  height: 28px;
}
footer .footer-box .footer-sub-box .cs-box .sns-list li .ins {
  background: url(../img/icon_sns_instagram.png) no-repeat center center/100%;
}
footer .footer-box .footer-sub-box .cs-box .sns-list li .face {
  background: url(../img/icon_sns_facebook.png) no-repeat center center/100%;
}
footer .footer-box .footer-sub-box .cs-box .sns-list li .you {
  background: url(../img/icon_sns_you.png) no-repeat center center/100%;
}
footer .footer-box .footer-sub-box .cs-box .inner-box {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--grayBG);
}
footer .footer-box .footer-sub-box .cs-box .inner-box a {
  position: relative;
  font-size: var(--smallSize);
  font-weight: var(--boldWeight);
  margin-bottom: 10px;
}
footer .footer-box .footer-sub-box .cs-box .inner-box a::after {
  content: "";
  position: absolute;
  display: block;
  top: 4px;
  right: -15px;
  width: 5px;
  height: 5px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: var(--deepGrayColor);
  transform: rotate(-45deg);
}
footer .footer-box .footer-sub-box .cs-box .inner-box ul li {
  font-weight: var(--boldWeight);
  font-size: var(--microSize);
  padding: 5px 0;
}
footer .footer-box .footer-sub-box .cs-box .inner-box ul li span {
  margin-right: 10px;
  color: var(--grayColor);
}