@import url(reset.css);
@import url(font.css);
@import url(global.css);

// common
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

.color-white {
  color: #fff;
}

.indent9999 {
  display: block;
  font-size: 1px;
  text-indent: -9999px;
}
// // common

// header
header {
  .header-box {
    .util-box {
      width: 100%;
      height: 40px;
      background-color: var(--grayBG);
      font-size: 12px;
      font-weight: 400;
      .util-mn-list {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        line-height: 40px;
        ul {
          display: flex;
          gap: 5px;
        }
      }
    }
    .main-header-box {
      width: 100%;
      height: 86px;
      .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 86px;
        .special-mn-box {
          display: flex;
          .special-mn-list {
            display: flex;
            gap: 20px;
          }
        }
      }
    }
    nav {
      width: 100%;
      height: 45px;
      .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45px;
        font-size: 14px;
        ul {
          display: flex;
          gap: 20px;
        }
      }
    }
  }
}
// // header

// main

//  main visual
.main-visual-box {
  .swiper-slide {
    a {
      position: relative;
      display: block;
      height: 600px;
      > img {
        height: 100%;
      }
      .text-box {
        position: absolute;
        top: 210px;
        left: 360px;
        .title {
          position: relative;
          font-size: 40px;
          font-weight: 700;
          line-height: 50px;
          margin-bottom: 25px;
          .dis {
            position: absolute;
            display: inline-block;
            font-size: 13px;
            font-weight: 800;
            width: 52px;
            height: 24px;
            bottom: 15px;
            border-radius: 20px;
            text-align: center;
            line-height: 24px;
            background-color: var(--redColor);
            color: #fff;
            &::after {
              content: "";
              position: absolute;
              display: block;
              width: 0px;
              height: 0px;
              left: 3px;
              bottom: -6px;
              border-color: var(--redColor) transparent transparent transparent;
              border-style: solid;
              border-width: 12px 12px 0 0;
            }
          }
        }
        .desc {
          font-size: 15px;
          font-weight: 400;
        }
      }
      .emblem-box {
        position: absolute;
        top: 35px;
        right: 370px;
        width: 75px;
      }
    }
  }
}
// // main visual

//  look book

.look-book-sect {
  .look-book-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    .look-book-wrap {
      position: relative;
      display: flex;
      li {
        flex-shrink: 0;
      }
    }
    span {
      cursor: pointer;
    }
  }
}

// // look book

// //main

// footer
// // footer
