:root {
  --mainKor-font: "NotoSansKR-VariableFont_wght";
  --mainEng-font: "Metropolis-Regular";

  --mainColor: #00412f;
  --subColor: #fefce7;

  --seaColor: #00b5ee;

  --white: #fff;
  --black: #000;
  --black100: #222;
  --gray: #999;

  font-family: var(--mainEng-font), var(--mainKor-font);

  body {
    color: var(--black100);
  }
}
