@charset "utf-8";
@import url(reset.css);

/* common */
.blind {
  text-indent: -9999px;
  overflow: hidden;
}

.menu-title {
  font-size: 38px;
  font-weight: 600;
  padding: 0 0 30px 0;
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  padding: 0 0 30px 0;
}

.ranking-box > ul {
  display: flex;
}

.ranking-box > ul > li {
  width: 30%;
  margin: 0 10px;
}

.ranking-box ul li ul li {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #1a1919;
}

.ranking-box ul li ul li a img {
  width: 50px;
}

.ranking-box .rank .num {
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 600;
}

/* ranking box */

/* //ranking box */

/* //common */
.wrap {
  display: flex;
}
/* header */
.header-box {
  position: fixed;
  top: 0;
  bottom: 0;

  /* height: 100vh; */
  background-color: #000;
  color: #fff;
  border-right: 1px solid #1a1919;
}

h1.logo a img {
  display: block;
  padding: 25px 0 25px 30px;
}

.quick-mn-box {
  padding: 0 24px;
}

.user-box {
  position: relative;
}

.user-box .profile a {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #1a1919;
}

.user-box .profile a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url(img/20170929090002_1132882_584_584.jpg) no-repeat center
    center/100%;
}

.user-box .profile a p {
  font-size: 15px;
  color: #ccc;
  margin: 0 0 0 10px;
}

.user-box .profile a p::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -593.83px -481.38px;
}

.util-mn {
  display: none;
  position: absolute;
  top: 40px;
  left: 35px;
  background-color: #222222;
  border-radius: 5px;
  z-index: 10;
  padding: 10px 0;
}

.util-mn li {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.util-mn li a {
  display: block;
  padding: 13px 80px 13px 20px;
}

.membership {
  border-top: 1px solid #1a1919;
}

.membership > p {
  display: block;
  width: 171px;
  height: 22px;
  margin: 15px auto;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -237px -80px;
}

.membership a {
  display: flex;
  width: 197px;
  height: 44px;
  margin: 0 0 20px 0;
  border-radius: 7px;
  background: rgb(234, 54, 54);
  background: linear-gradient(
    90deg,
    rgba(234, 54, 54, 1) 0%,
    rgba(199, 42, 214, 1) 50%,
    rgba(112, 19, 243, 1) 100%
  );
}

.membership a p {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 108px;
  height: 24px;
  top: 25%;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -422px -64px;
}

.search-box {
  position: relative;
  margin: 0 0 20px 0;
}

.search-box input {
  width: 197px;
  height: 40px;
  font-size: 16px;
  text-indent: 40px;
  background-color: #1a1a1a;
  border: none;
  border-radius: 7px;
}

.search-box input:focus {
  outline: none;
  filter: drop-shadow(0px 0px 3px #338bff);
  caret-color: red;
  color: #fff;
}

.search-box .search-icon {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 7px;
  left: 8px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -196px -602px;
  opacity: 40%;
}

#GNB ul li {
  position: relative;
  padding: 5px;
}

#GNB ul li a {
  display: block;
  width: 177px;
  height: 32px;
  margin: 0 0 0 40px;
  opacity: 80%;
}

#GNB ul li:hover a {
  opacity: 100%;
}

#GNB ul.main-mn {
  padding: 0 0 20px 0;
  border-bottom: 1px solid #1a1919;
}

#GNB ul.service-mn {
  padding: 20px 0;
}

/* main mn 1  */
#GNB ul.main-mn li:nth-child(1) a {
  width: 56px;
  height: 28px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -209px -505px;
}

#GNB ul.main-mn li:nth-child(1) a::before {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 10px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -280px -602px;
}

/* //main mn 1  */

/* main mn 2  */
#GNB ul.main-mn li:nth-child(2) a {
  width: 56px;
  height: 28px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -623px -44px;
}

#GNB ul.main-mn li:nth-child(2) a::before {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 10px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -349px -505px;
}

/* //main mn 2  */

/* main mn 3  */
#GNB ul.main-mn li:nth-child(3) a {
  width: 72px;
  height: 28px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -350px -360px;
}

#GNB ul.main-mn li:nth-child(3) a::before {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 10px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -623px -496px;
}

/* //main mn 3  */

/* main mn 4  */
#GNB ul.main-mn li:nth-child(4) a {
  width: 99px;
  height: 28px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -422px -258px;
}

#GNB ul.main-mn li:nth-child(4) a::before {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 10px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -623px -240px;
}

/* //main mn 4  */

/* main mn 5  */
#GNB ul.main-mn li:nth-child(5) a {
  width: 96px;
  height: 28px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: 0px -448px;
}

#GNB ul.main-mn li:nth-child(5) a::before {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 10px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -623px -368px;
}

/* //main mn 5  */

/* main mn 6  */
#GNB ul.main-mn li:nth-child(6) a {
  width: 92px;
  height: 28px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -94px -476px;
}

#GNB ul.main-mn li:nth-child(6) a::before {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 10px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -623px -432px;
}

/* //main mn 6  */

/* main mn 7  */
#GNB ul.main-mn li:nth-child(7) a {
  width: 56px;
  height: 28px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -370px -476px;
}

#GNB ul.main-mn li:nth-child(7) a::before {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 10px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -623px -304px;
}

/* //main mn 7  */

/* service mn 1 */
#GNB ul.service-mn li:nth-child(1) a {
  width: 89px;
  height: 28px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -532px -147px;
}

#GNB ul.service-mn li:nth-child(1) a::before {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 10px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -389px -275px;
}
/* //service mn 1 */

/* service mn 2 */
#GNB ul.service-mn li:nth-child(2) a {
  width: 70px;
  height: 28px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -285px -448px;
}

#GNB ul.service-mn li:nth-child(2) a::before {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 10px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -336px -602px;
}
/* //service mn 2 */

/* service mn 3 */
#GNB ul.service-mn li:nth-child(3) a {
  width: 96px;
  height: 28px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -96px -420px;
}

#GNB ul.service-mn li:nth-child(3) a::before {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 10px;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: -484px -476px;
}
/* //service mn 3 */

.desk-app-link a {
  display: block;
  width: 205px;
  height: 52px;
  margin: 40px 0 0 0;
  background: url(img/sp_topbar.abb84804.svg) no-repeat;
  background-position: 0px -24px;
}

/* //header */

/* main */
.main-page-wrap {
  width: 100%;
  padding: 0 75px;
  background-color: #000;
  color: #fff;
}

main {
  margin: 70px 0;
}

main .wrapper {
  padding: 30px 0;
}

/* //main */

/* footer */
footer {
  height: 500px;
  background-color: #111111;
  color: #999999;
}
/* //footer */

/* responsive */

/* //responsive */
