@charset "utf-8";
@import url(reset.css);
@import url(font.css);
@import url(global.css);

/* common */

.flex {
  display: flex;
}

main section {
  position: relative;
  height: 100vh;
}

/* //common */

/* header */

header {
  position: fixed;
  width: 100%;
  background: var(--white);
  top: 0;
  z-index: 20;
}

header::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 16px;
  bottom: -5px;
  z-index: -1;
  background: url(../img/menu-bg-pattern.png) repeat;
}

.header-box {
  position: relative;
  margin: auto;
  width: calc(100% - 140px);
  height: 95px;
  justify-content: space-between;
  align-items: center;
}

h1 img {
  width: 55px;
}

nav a {
  font-size: 14px;
  font-weight: 600;
  color: #222;
  letter-spacing: 0.025em;
}

nav ul {
  height: 95px;
  align-items: center;
  gap: var(--nav-gap);
  justify-content: center;
}

nav a,
ul.gnb a {
  font-family: var(--Bold-font);
  text-transform: uppercase;
  text-wrap: nowrap;
}

nav ul li.main-menu {
  height: 24px;
}

nav ul li.main-menu::before {
  content: "\e910";
  display: block;
  position: relative;
  top: -15px;
  font-family: "jt-font";
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  color: #ed4043;
  opacity: 0;
  transition: 0.35s;
}

nav ul li.main-menu:hover::before {
  opacity: 1;
}

nav ul li.main-menu a {
  display: block;
  position: relative;
  height: 15px;
  padding: 5px 8px;
  overflow: hidden;
}

nav ul li.main-menu a .mn-ani-box {
  position: relative;
  width: 100%;
  top: -43px;
  transition: 0.35s;
}

nav ul li.main-menu:hover a .mn-ani-box {
  color: #ed4043;
  top: 0px;
}

nav ul li.main-menu span {
  display: block;
  margin: 0 0 30px 0;
  text-align: center;
}

ul.gnb a {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #222;
}

ul.gnb {
  width: 200px;
  justify-content: space-between;
}

ul.gnb a::before {
  font-family: "jt-font";
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: #ed4043;
  padding: 0 10px 0 0;
}

ul.gnb a.login::before {
  content: "\e91b";
}

ul.gnb a.sign::before {
  content: "\e91c";
}

/* //header */

/* main */

/* character info */

.chracter-info-box {
  height: 100%;
}

.chracter-info-box h2 {
  position: absolute;
  z-index: 10;
  top: 200px;
  left: 32%;
  font-family: var(--Bold-font);
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  color: #fff;
}

.chracter-info h2 b {
  font-size: 45px;
}

.character-box {
  position: relative;
  height: 100%;
  background-color: var(--mainColor);
}

.character-box article {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.35s;
}

.character-box article.on {
  opacity: 1;
}

.character-box article .character-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.character-box article .character-table a::after {
  content: "\e910";
  position: absolute;
  z-index: -1;
  top: -240%;
  left: -45%;
  display: block;
  color: #fff;
  font-family: "jt-font";
  font-size: 90px;
  font-weight: normal;
}

.character-box article .character-table a {
  position: relative;
  z-index: 5;
  font-family: var(--Bold-font);
  color: var(--mainColor);
}

.character-box article .desc {
  background: var(--mainColor);
  color: #fff;
}

.character-box article .desc h3 {
  margin: 0 0 20px 0;
}

.character-box article .desc h3 {
  font-size: 25px;
}

.character-box article .desc h3 span {
  font-family: var(--Bold-font);
  font-size: 35px;
  margin: 0 20px 0 0;
}

.character-box article .desc p {
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 80px 0;
}

.character-box article figure img {
  position: absolute;
  z-index: 1;
}

.character-box article figure figcaption {
  font-family: var(--Bold-font);
  font-size: 200px;
  color: #fff;
  opacity: 0.3;
}

#MUGO figure {
  background: var(--mugoColor);
}

#CHICHI figure {
  background: var(--chichiColor);
}
#WINDY figure {
  background: var(--windyColor);
}
#CAGO figure {
  background: var(--cagoColor);
}
#ARI figure {
  background: var(--ariColor);
}
#ROK figure {
  background: var(--rokColor);
}

/* chracter-list */

.chracter-info .chracter-list {
  position: absolute;
  width: 100%;
  bottom: 50px;
}

.chracter-info .chracter-list ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  text-align: center;
}

.chracter-info .chracter-list ul li a {
  position: relative;
}

.chracter-info .chracter-list ul li a .img-box {
  margin: 0 0 10px 0;
}

.chracter-info .chracter-list ul li a p {
  font-family: var(--Bold-font);
  font-size: 12px;
  color: #fff;
}

.chracter-info .chracter-list ul li a .img-box {
  position: relative;
  width: 103px;
  height: 103px;
  border-radius: 50%;
  overflow: hidden;
}

.chracter-info .chracter-list ul li a .img-box img {
  transition: 0.35s;
}

.chracter-info .chracter-list ul li:hover a .img-box img {
  transform: scale(1.2);
}

.chracter-info .chracter-list ul li a.on::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: -4px;
  right: -4px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
}

/* //chracter-list */
/* //chracter info */

/* trial mugo */

.trial-info {
  background: url(../img/video-bg-pattern.jpg) repeat left top;
  opacity: 0.4;
}

/* //trial mugo */

/* //main */

/* footer */
/* //footer */

/* responsive */
