@charset "utf-8";

@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat.woff2);
}

@font-face {
  font-family: PretendardVariable;
  src: url(../font/PretendardVariable.woff2);
}

@font-face {
  font-family: NEXONLv1GothicOTFBold;
  src: url(../font/NEXONLv1GothicOTFBold.woff2);
}

@font-face {
  font-family: xeicon;
  src: url(../font/xeicon.woff2);
}
