@charset "utf-8";
@import url(reset.css);
@import url(font.css);
@import url(global.css);

// common
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

section {
  width: 100%;
}
// //common

// header
header {
  .header-box.on {
    background-color: rgba(62, 152, 212, 0.4);
  }
  .header-box {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    z-index: 10;
    padding: 0 50px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.35s;

    h1 {
      a {
        display: block;
        width: 90px;
      }
    }
    nav {
      text-align: center;
      .main-menu {
        display: flex;
        gap: 40px;
        font-size: 18px;
        font-weight: 500;
        li {
          position: relative;
          display: block;
          width: 110px;
          &:hover,
          &:focus-within {
            .sub-menu {
              z-index: 10;
              opacity: 1;
              max-height: initial;
            }
          }
          a {
            display: block;
            width: 100%;
            padding: 20px 10px;
          }
          .sub-menu {
            position: absolute;
            width: 140%;
            background-color: #fff;
            color: #2467c7;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            display: block;
            padding: 10px 0;
            border-radius: 8px;
            transition: 0.35s;
            z-index: -1;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            li {
              width: 100%;
              a {
                display: block;
                width: 100%;
                padding: 15px 10px;
              }
            }
          }
        }
      }
    }
    .util-mn {
      position: relative;
      display: block;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      p {
        display: block;
        width: 100%;
        padding: 20px 10px;
      }
      &:hover,
      &:focus-within {
        .sub-menu {
          z-index: 10;
          opacity: 1;
          max-height: initial;
        }
      }
      .sub-menu {
        position: absolute;
        width: 140%;
        background-color: #fff;
        color: #2467c7;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        display: block;
        z-index: 10;
        padding: 10px 0;
        border-radius: 8px;
        transition: 0.35s;
        z-index: -1;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        li {
          width: 100%;
          a {
            display: block;
            width: 100%;
            padding: 15px 10px;
          }
        }
      }
    }
  }
}
// //header
// main

// side-mn-icon
.side-mn-icon {
  position: fixed;
  z-index: 20;
  top: 50%;
  right: 50px;
  transform: translate(-50%, 0);
  li {
    margin: 0 0 10px 0;
    a {
      display: block;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      opacity: 0.5;
    }
    a.on {
      opacity: 1;
    }
  }
}
// //side-mn-icon

// main title
.main-title-sect {
  .main-title-box {
    height: 100vh;
    background: url(../img/mainBg.jpg) no-repeat;
    .main-logo-box {
      width: 1000px;
      height: 420px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      img {
        margin: 0 0 30px 0;
      }
      p {
        font-size: 45px;
        font-weight: 600;
        color: #fff;
      }
    }
    .scroll-icon-box {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100px;
      height: 100px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -80%);
      p {
        font-size: 16px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.6);
        margin: 0 0 10px 0;
      }
      span {
        display: block;
        position: relative;
        width: 20px;
        height: 29px;
        border: 2px solid #fff;
        border-radius: 10px;
        &::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 7px;
          top: 5px;
          left: 7px;
          background-color: #fff;
          animation: upDown 1.5s infinite;
        }
      }
    }
  }
}

// //main title

// main visual
.main-visual-sect {
  .main-visual-box {
    position: relative;
    height: 100vh;
    background: url(../img/mainBg.jpg) no-repeat center center/100%;
    overflow: hidden;
    .img-box {
      position: relative;
      width: 100%;
      height: 100%;
      img {
        position: absolute;
        display: none;
      }
      #grass {
        display: block;
        z-index: 2;
        bottom: -40%;
        left: -3px;
        transform: scale(1.1);
      }
      #cloud_left {
        display: block;
        top: -80px;
        left: -55px;
        z-index: 0;
        transform: rotate(-10deg);
      }
      #cloud_right {
        display: block;
        top: -30px;
        right: -130px;
        z-index: 0;
      }
      #bridge {
        display: block;
        top: 30%;
        left: 0;
        z-index: 1;
        transform: scale(1.1);
      }
      #center {
        display: block;
        top: 50px;
        left: 50%;
        z-index: 3;
        transform: translateX(-50%);
        animation: centerScale 1s infinite;
      }
      #red_car {
        display: block;
        top: 33%;
        left: -60px;
        z-index: 3;
        transform: scale(0.9);
        animation: redUpDown 2.2s infinite;
      }
      #talk1 {
        display: block;
        bottom: 193px;
        left: 58px;
        z-index: 4;
        animation: rotateAni 1.8s infinite;
      }
      #cosmetic {
        display: block;
        bottom: 234px;
        right: 72px;
        z-index: 4;
        animation: cosUpDown 2.2s infinite;
      }
      #dance3 {
        display: block;
        top: 50%;
        left: 50%;
        z-index: 4;
        transform: translate(-115%, -30%);
        animation: dan3Rotate 1s infinite;
      }
      #hug2 {
        display: block;
        top: 50%;
        left: 50%;
        z-index: 4;
        transform: translate(5%, -10%);
        animation: hug2Rotate 2s infinite;
      }
      #talk2 {
        display: block;
        top: 50%;
        right: 50%;
        z-index: 4;
        transform: translate(-45%, 40%);
        animation: talk2Scale 2s infinite;
      }
      #leaf_left {
        display: block;
        bottom: 53px;
        left: -40px;
        z-index: 5;
        animation: leafL 2.8s infinite;
      }
      #leaf_right {
        display: block;
        bottom: 165px;
        right: -120px;
        z-index: 5;
        animation: leafR 2.8s infinite;
      }
    }
  }

  .sns-mn {
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 50%;
    z-index: 13;
    transform: translate(-50%, 0%);
    margin: 0 0 100px 0;
    a {
      position: relative;
      display: block;
      width: 100px;
      height: 100px;
      border: 1px solid #fdd203;
      border-radius: 50%;
      background-color: #fdd20300;
      transition: 0.35s;
      span {
        display: block;
        text-indent: -9999px;
        font-size: 0px;
      }
      &:first-child {
        margin: 0 30px 0 0;
      }
      &:hover,
      &:focus-within {
        background-color: #fdd303;
        &::before {
          color: #fff;
        }
      }
    }
    .facebook-btn {
      &::before {
        content: "\ebd3";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "xeicon";
        font-size: 50px;
        color: #fdd203;
        transition: 0.35s;
      }
    }
    .instagram-btn {
      &::before {
        content: "\ebe9";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "xeicon";
        font-size: 50px;
        color: #fdd203;
      }
    }
  }
}
// //main visual

// //main

// festival-info

.festival-info-sect {
  .festival-info-box {
    position: relative;
    display: flex;
    height: 100vh;
    background-color: #f1f1f1;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    .title-box {
      margin: 0 200px 0 0;
      h2 {
        font-size: 40px;
        font-weight: 800;
        color: var(--blue);

        span {
          font-family: var(--mainEng-font);
          font-size: 100px;
          font-weight: 900;
          letter-spacing: -3px;
          background: var(--gradient);
          color: transparent;
          background-clip: text;
        }
      }
      > p {
        padding: 60px 0;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
      }
      a {
        display: block;
        width: 200px;
        padding: 20px 0;
        text-align: center;
        font-family: var(--mainEng-font);
        font-size: 22px;
        font-weight: 600;
        letter-spacing: -2px;
        color: #2467c7;
        border: 1px solid #2467c7;
        border-radius: 30px;
        transition: 0.35s;
        &:hover,
        &:focus-within {
          background-color: #2467c7;
          color: #fff;
        }
      }
    }
    .desc-box {
      padding: 0 0 100px 0;
      ul {
        li {
          display: flex;
          align-items: center;
          gap: 30px;
          margin: 0 0 40px 0;
          h3 {
            display: flex;
            width: 156px;
            justify-content: space-between;
            background: var(--gradient);
            color: #fff;
            padding: 3px;
            font-size: 20px;
            font-weight: 600;
          }
          p {
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }

    #dance {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: scale(1);
    }
    #leaf {
      position: absolute;
      bottom: -21px;
      right: -80px;
      z-index: 1;
      transform: scale(0.8);
    }
    #hug {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scale(1);
    }
  }
}

//festival-info

// program-info

.program-info-sect {
  .program-info-box {
    position: relative;
    height: 100vh;
    padding: 130px 0;
    background-color: var(--green);
    h2 {
      text-align: center;
      margin: 0 0 50px 0;
      color: #fff;
      p {
        font-size: 40px;
        font-weight: 800;
        span {
          font-family: var(--mainEng-font);
          font-size: 100px;
          font-weight: 900;
          letter-spacing: -3px;
        }
      }
    }
    .program-info-swiper {
      width: 1200px;
      // border: 1px solid red;
      .swiper-slide.swiper-slide-prev,
      .swiper-slide.swiper-slide-next {
        a {
          width: 320px;
          height: 490px;
        }
      }
      .swiper-slide.swiper-slide-active {
        a {
          h3 {
            transform: translateY(0);
            opacity: 1;
          }
          p {
            transform: translateY(0);
            opacity: 1;
          }
          img {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
      .swiper-slide {
        a {
          display: block;
          position: relative;
          width: 370px;
          height: 490px;
          margin: auto;
          transition: 0.5s;
          h3 {
            position: absolute;
            font-family: var(--mainEng-font);
            font-size: 60px;
            font-weight: 900;
            letter-spacing: -3px;
            line-height: 50px;
            transform: translateY(60px);
            opacity: 0;
            transition: 0.35s;
          }
          p {
            position: absolute;
            font-family: var(--mainEng-font);
            font-size: 30px;
            font-weight: 900;
            line-height: 35px;
            letter-spacing: -1px;
            transform: translateY(60px);
            opacity: 0;
            transition: 0.35s;
          }
          img {
            position: absolute;
            right: 15px;
            bottom: 15px;
            transform: translateY(60px);
            opacity: 0;
            transition: 0.35s;
          }
        }
        #main-stage {
          background: url(../img/s2_poster1.png) no-repeat center center/100%;
          h3 {
            top: 135px;
            left: 20px;
            color: var(--yellow);
          }
          p {
            top: 260px;
            left: 20px;
            -webkit-text-stroke: 1px var(--yellow);
            -webkit-text-fill-color: transparent;
          }
        }
        #sub-stage {
          background: url(../img/s2_poster2.png) no-repeat center center/100%;
          color: #fff;
          h3 {
            top: 135px;
            left: 20px;
            color: #fff;
          }
          p {
            top: 260px;
            left: 20px;
            -webkit-text-stroke: 1px #fff;
            -webkit-text-fill-color: transparent;
          }
        }
        #side-event {
          background: url(../img/s2_poster3.png) no-repeat center center/100%;
          h3 {
            top: 135px;
            left: 20px;
            color: var(--subGreen);
          }
          p {
            top: 260px;
            left: 20px;
            -webkit-text-stroke: 1px var(--subGreen);
            -webkit-text-fill-color: transparent;
          }
        }
        #sweet-road {
          background: url(../img/s2_poster4.png) no-repeat center center/100%;
          h3 {
            top: 135px;
            left: 20px;
            color: var(--brown);
          }
          p {
            bottom: 35px;
            left: 20px;
            -webkit-text-stroke: 1px var(--brown);
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}

// //program-info

// community
.community-sect {
  .community-box {
    position: relative;
    height: 100vh;
    background-color: #f1f1f1;
    // infinite-banner

    .infinite-banner-box {
      display: block;
      background-color: var(--yellow);
      .infinite-banner-swiper {
        .swiper-wrapper {
          transition-timing-function: linear;
          .swiper-slide {
            position: relative;
            padding: 30px 0;
            font-family: var(--mainEng-font);
            font-size: 35px;
            font-weight: 900;
            letter-spacing: -2px;
            text-align: center;
            &:nth-child(2n) {
              // -webkit-text-stroke: 1px #000;
              text-shadow: -2px 0px #000, 0px 2px #000, 2px 0px #000,
                0px -2px #000;
              -webkit-text-fill-color: var(--yellow);
            }
            &::after {
              content: "";
              position: absolute;
              top: 35px;
              left: -20px;
              width: 23px;
              height: 24px;
              background: url(../img/wave_arr.png);
            }
          }
        }
      }
    }

    // //infinite-banner

    .community-main-box {
      position: relative;
      display: flex;
      width: 100%;
      height: 90%;
      justify-content: center;
      align-items: center;
      gap: 150px;
      .title-box {
        h2 {
          font-size: 30px;
          font-weight: 800;
          color: var(--subGreen);
          p {
            &:first-child {
              padding: 0 0 30px 0;
            }
          }

          span {
            font-family: var(--mainEng-font);
            font-size: 80px;
            font-weight: 900;
            letter-spacing: -3px;
            background: var(--green);
            color: transparent;
            background-clip: text;
          }
        }
        a {
          display: block;
          width: 200px;
          padding: 20px 0;
          text-align: center;
          font-family: var(--mainEng-font);
          font-size: 22px;
          font-weight: 600;
          letter-spacing: -2px;
          color: var(--subGreen);
          border: 2px solid var(--subGreen);
          border-radius: 30px;
          margin: 80px 0 0 0;
          transition: 0.35s;

          &:hover,
          &:focus-within {
            background-color: var(--subGreen);
            color: #fff;
          }
        }
      }
      .desc-box {
        padding: 50px 0 0 0;
        ul {
          width: 650px;
          border-top: 2px solid #000;
          border-bottom: 2px solid #000;
          li {
            width: 100%;
            border-bottom: 1px solid #c6c6c6;
            a {
              display: flex;
              gap: 30px;
              justify-content: space-between;
              width: 100%;
              font-size: 18px;
              font-weight: 600;
              padding: 40px 0;
              h3 {
                transition: 0.35s;
              }
              &:hover,
              &:focus-within {
                h3 {
                  color: var(--green);
                }
              }
              p {
                color: #a3a3a3;
              }
            }
          }
        }
      }
      #leaf2 {
        position: absolute;
        bottom: -30px;
        left: -120px;
        transform: scale(0.7) scaleX(-1);
      }
    }
  }
}
// //community
// gallery
.gallery-sect {
  .gallery-box {
    position: relative;
    height: 100vh;
    background-color: #fff;
    padding: 130px 200px;
    > p {
      position: absolute;
      left: 50%;
      bottom: 30px;
      transform: translateX(-50%);
      font-family: var(--mainEng-font);
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -1px;
    }
    h2 {
      font-size: 40px;
      font-weight: 800;
      color: var(--blue);
      line-height: 50px;
      margin: 0 0 50px 0;
      p {
        padding: 0 0 20px 0;
      }

      span {
        font-family: var(--mainEng-font);
        font-size: 90px;
        font-weight: 900;
        letter-spacing: -3px;
        background: var(--gradient);
        color: transparent;
        background-clip: text;
        &:last-child {
          text-shadow: -1px 0px #636363, 0px 1px #636363, 1px 0px #636363,
            0px -1px #636363;
          color: #fff;
        }
      }
    }

    .gallery-swiper {
      .swiper-slide {
        &:nth-child(2n) {
          margin: 120px 0 0 0;
        }
      }
    }
  }
}
// //gallery
// footer
footer {
  .footer-box {
    width: 100%;
    background-color: #153a83;
    color: #fff;
    > p {
      font-family: var(--mainEng-font);
      font-size: 14px;
      padding: 30px 200px;
      color: #ffffff;
      opacity: 0.3;
    }
    .footer-main-box {
      display: flex;
      justify-content: space-between;
      padding: 50px 200px;
      border-bottom: 1px solid rgba(150, 150, 150, 0.2);
      .host-box {
        h2 {
          a.logo {
            display: block;
            width: 100px;
          }
          &:first-child {
            margin: 0 0 30px 0;
          }
        }
      }
      .contact-box {
        .email-box {
          font-size: 20px;
          font-weight: 600;
          h2 {
            color: #78889e;
            margin: 0 0 15px 0;
          }
        }
        ul {
          display: flex;
          justify-content: end;
          margin: 50px 0 0 0;
          li {
            margin: 0 10px 0 0;
            &:first-child {
              a {
                background: url(../img/fb.png) no-repeat center center/50%;
              }
            }
            &:last-child {
              a {
                background: url(../img/instar.png) no-repeat center center/100%;
              }
            }
            a {
              display: block;
              width: 30px;
              height: 30px;
              text-indent: -9999px;
            }
          }
        }
      }
    }
  }
}
// //footer

@keyframes upDown {
  0% {
    transform: translateY(2px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(2px);
  }
}

@keyframes cosUpDown {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(5px);
  }
}

@keyframes rotateAni {
  0% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

@keyframes leafL {
  0% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(3deg);
  }
}

@keyframes leafR {
  0% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

@keyframes redUpDown {
  0% {
    transform: scale(0.9) translateY(3px);
  }

  50% {
    transform: scale(0.9) translateY(0);
  }

  100% {
    transform: scale(0.9) translateY(3px);
  }
}

@keyframes centerScale {
  0% {
    transform: translateX(-50%) scale(1);
  }

  50% {
    transform: translateX(-50%) scale(1.05);
  }

  100% {
    transform: translateX(-50%) scale(1);
  }
}

@keyframes dan3Rotate {
  0% {
    transform: translate(-115%, -30%) rotate(-5deg);
  }

  50% {
    transform: translate(-115%, -30%) rotate(5deg);
  }

  100% {
    transform: translate(-115%, -30%) rotate(-5deg);
  }
}

@keyframes hug2Rotate {
  0% {
    transform: translate(5%, -10%) rotate(3deg);
  }

  50% {
    transform: translate(5%, -10%) rotate(-3deg);
  }

  100% {
    transform: translate(5%, -10%) rotate(3deg);
  }
}

@keyframes talk2Scale {
  0% {
    transform: translate(-45%, 40%) scale(1);
  }

  50% {
    transform: translate(-45%, 40%) scale(1.04);
  }

  100% {
    transform: translate(-45%, 40%) scale(1);
  }
}
