@import url(reset.css);
@import url(global.css);
@import url(font.css);
/* common */
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.title {
  font-size: 50px;
  text-align: center;
  padding: 30px 0;
}

.more-btn {
  position: absolute;
  top: 50px;
  right: 300px;
}

/* //common */
/* header */
header.hover::after {
  opacity: 1;
  height: 290px;
}

header::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 2;
  top: 80px;
  left: 0;
  width: 100%;
  height: 0px;
  opacity: 0;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 12px 8px -6px;
  transition: 0.35s;
}
header .header-box {
  position: relative;
  width: 1700px;
  height: 155px;
  margin: 0 auto;
}
header .header-box h1 {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  order: 2;
}
header .header-box .gnb ul {
  display: flex;
  justify-content: end;
  margin: 45px 0;
  gap: 50px;
}
header .header-box .gnb ul a {
  padding: 20px 0;
}
header .header-box nav {
  display: flex;
  justify-content: space-between;
}
header .header-box nav > div {
  position: relative;
  z-index: 10;
}
header .header-box nav > div:hover ul {
  gap: 100px;
}
header .header-box nav > div:hover a.eng-mn p:first-child {
  display: none;
}
header .header-box nav > div:hover a.eng-mn p:last-child {
  display: block;
}
header .header-box nav > div:hover .sub-mn {
  display: block;
}
header .header-box nav > div ul {
  transition: 0.35s;
}
header .header-box nav > div ul .sub-mn {
  display: none;
  position: absolute;
  z-index: 10;
  top: 40px;
}
header .header-box nav > div ul .sub-mn a {
  display: block;
  padding: 10px 0;
}
header .header-box nav .eng-nav {
  order: 1;
  padding: 0 200px 0 0;
  font-family: var(--medium-font);
}
header .header-box nav .eng-nav .eng-mn p:last-child {
  font-family: var(--mainKor-font);
  font-weight: 500;
}
header .header-box nav .eng-nav > ul {
  display: flex;
  gap: 40px;
}
header .header-box nav .eng-nav > ul > li > a {
  transition: 0.35s;
}
header .header-box nav .eng-nav > ul > li > a:hover {
  color: var(--mainColor);
}
header .header-box nav .eng-nav > ul > li > a p:last-child {
  display: none;
}
header .header-box nav .kor-nav {
  order: 3;
  padding: 0 0 0 200px;
  display: flex;
}
header .header-box nav .kor-nav > ul {
  display: flex;
  gap: 40px;
  font-weight: 500;
}
header .header-box nav .kor-nav > ul > li > a {
  transition: 0.35s;
}
header .header-box nav .kor-nav > ul > li > a:hover {
  color: var(--mainColor);
}
header .header-box nav .kor-nav > ul > li .search-btn {
  display: block;
  width: 17px;
  height: 18px;
  background: url(../img/gnb-search-btn.png) no-repeat center center/100%;
}
header .header-box nav .kor-nav > ul > li .search-btn p {
  text-indent: -9999px;
}
header .header-box nav .kor-nav > ul > li .menu-btn {
  display: block;
  width: 26px;
  height: 18px;
  background: url(../img/all-menu-btn.png) no-repeat center center/100% 100%;
}
header .header-box nav .kor-nav > ul > li .menu-btn p {
  text-indent: -9999px;
}
header .header-box nav .kor-nav .util-mn {
  gap: 30px;
  margin: 0 0 0 30px;
}

/* //header */
/* main */
.main-visual-sect .main-visual-box .main-visual-swiper {
  position: relative;
  height: calc(100vh - 260px);
}
.main-visual-sect .main-visual-box .main-visual-swiper .main-swiper-btn span {
  writing-mode: vertical-lr;
}
.main-visual-sect .main-visual-box .main-visual-swiper .main-swiper-btn .swiper-button-prev:after,
.main-visual-sect .main-visual-box .main-visual-swiper .main-swiper-btn .swiper-button-next:after {
  display: none;
}
.main-visual-sect .main-visual-box .main-visual-swiper .main-swiper-btn .main-prev-btn svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 50px;
  height: 150px;
}
.main-visual-sect .main-visual-box .main-visual-swiper .main-swiper-btn .main-prev-btn svg path {
  stroke: #c9c9c9;
  stroke-width: 4;
  fill: transparent;
  transition: 1s;
  stroke-linecap: round;
}
.main-visual-sect .main-visual-box .main-visual-swiper .main-swiper-btn .main-next-btn svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 50px;
  height: 150px;
}
.main-visual-sect .main-visual-box .main-visual-swiper .main-swiper-btn .main-next-btn svg path {
  stroke: #c9c9c9;
  stroke-width: 4;
  fill: transparent;
  transition: 1s;
  stroke-linecap: round;
}
.main-visual-sect .main-visual-box .main-visual-swiper .swiper-slide {
  text-align: center;
}
.main-visual-sect .main-visual-box .main-visual-swiper .swiper-slide img {
  height: 100%;
}

.science-sect .science-box {
  position: relative;
  height: 100vh;
  margin: 150px;
}
.science-sect .science-box .slide-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.science-sect .science-box .slide-box .slide-mn {
  width: 300px;
  margin: 0 100px 0 0;
  font-size: 18px;
  font-weight: 400;
  color: var(--gray);
}
.science-sect .science-box .slide-box .slide-mn li {
  padding: 15px 0;
}
.science-sect .science-box .slide-box .slide-mn li:hover {
  cursor: pointer;
}
.science-sect .science-box .slide-box .slide-mn li.on {
  font-size: 24px;
  font-weight: 800;
  color: var(--mainColor);
}
.science-sect .science-box .slide-box .video-slide {
  position: relative;
  width: 645px;
  height: 800px;
  overflow: hidden;
  margin-right: 35px;
}
.science-sect .science-box .slide-box .video-slide .video-wrapper {
  width: 400%;
  display: flex;
  transition: 0.8s;
}
.science-sect .science-box .slide-box .video-slide .video-wrapper .video-box {
  position: relative;
  width: 645px;
  height: 800px;
}
.science-sect .science-box .slide-box .video-slide .video-wrapper .video-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.science-sect .science-box .slide-box .txt-slide {
  position: relative;
  width: 385px;
  height: 300px;
  overflow: hidden;
}
.science-sect .science-box .slide-box .txt-slide .txt-wrapper {
  height: 400%;
  transition: 0.8s;
}
.science-sect .science-box .slide-box .txt-slide .txt-wrapper .txt-box {
  width: 385px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.science-sect .science-box .slide-box .txt-slide .txt-wrapper .txt-box h3 {
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
}
.science-sect .science-box .slide-box .txt-slide .txt-wrapper .txt-box p {
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
}

.collection-sect .collection-box {
  position: relative;
  width: 100%;
  background-color: #f4f7fa;
  padding: 50px 0;
}
.collection-sect .collection-box .more-btn {
  top: 100px;
}
.collection-sect .collection-box .tab-mn {
  margin: 0 0 50px 0;
}
.collection-sect .collection-box .tab-mn ul {
  display: flex;
  justify-content: center;
  gap: 52px;
}
.collection-sect .collection-box .tab-mn ul li.on {
  font-size: 24px;
  font-weight: 800;
  color: var(--mainColor);
}
.collection-sect .collection-box .tab-mn ul li {
  position: relative;
  font-size: 22px;
  color: #888;
}
.collection-sect .collection-box .tab-mn ul li:first-child::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 22px;
  top: -1px;
  right: -27px;
  background-color: #000;
  opacity: 0.2;
}
.collection-sect .collection-box .slide-box {
  display: none;
}
.collection-sect .collection-box .slide-box.on {
  display: block;
}
.collection-sect .collection-box #new-product .new-product-swiper .swiper-wrapper .swiper-slide {
  position: relative;
}
.collection-sect .collection-box #new-product .new-product-swiper .swiper-wrapper .swiper-slide .img-box {
  position: relative;
  height: 720px;
  overflow: hidden;
}
.collection-sect .collection-box #new-product .new-product-swiper .swiper-wrapper .swiper-slide .img-box::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: url(../img/dimd2_main.png) no-repeat center center;
}
.collection-sect .collection-box #recommended-product .recommended-product-swiper .swiper-wrapper .swiper-slide {
  position: relative;
}
.collection-sect .collection-box #recommended-product .recommended-product-swiper .swiper-wrapper .swiper-slide .img-box {
  position: relative;
  height: 720px;
  overflow: hidden;
}
.collection-sect .collection-box #recommended-product .recommended-product-swiper .swiper-wrapper .swiper-slide .img-box::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: url(../img/dimd2_main.png) no-repeat center center;
}

.news-sect .news-box {
  padding: 50px 200px;
}
.news-sect .news-box .slide-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-sect .news-box .slide-box .news-txt {
  font-size: 26px;
}
.news-sect .news-box .slide-box .slide-mn ul li.on a {
  color: var(--mainColor);
}
.news-sect .news-box .slide-box .slide-mn ul li {
  margin: 0 0 80px 0;
  border-bottom: 1px solid #d3d3d3;
}
.news-sect .news-box .slide-box .slide-mn ul li a {
  color: #999;
}
.news-sect .news-box .slide-box .slide-mn ul li a span {
  font-size: 16px;
  font-weight: 600;
}
.news-sect .news-box .slide-box .slide-mn ul li a p {
  font-size: 20px;
  font-weight: 300;
}
.news-sect .news-box .slide-box .news-slide-box .news-swiper {
  width: 710px;
  height: 710px;
}

/* //main */
/* footer */
/* //footer */