:root {
  --mainENg-font: "seesaw_en-Regular";
  --boldENg-font: "seesaw_en-Medium";
  --mainKor-font: "NotoSansKR-VariableFont_wght";

  --white: #fff;
  --subWhite: #f5f5f5;
  --black: #000;
  --black100: #222;
  --whiteGray: #dcdcde;

  --mainColor: #ff4429;
  --subColorY: #fefc7c;
  --subColorG: #60d177;
  --subColorB: #0f2d7b;
  --LimeColor: #ccfa6a;
  --skyBlueColor: #397aec;

  font-family: var(--mainKor-font);

  body {
    color: var(--black100);
  }
}
