:root {
  --mainKor-font: "NotoSansKR-VariableFont_wght";
  --mainEng-font: "Metropolis-Regular";

  --light-font: "Metropolis-Light";
  --medium-font: "Metropolis-Medium";
  --bold-font: "Metropolis-Bold";

  --mainColor: #0890c0;
  --subColor: #41b4b7;

  --white: #fff;
  --black: #000;
  --black100: #222;
  --gray: #999;

  font-family: var(--mainEng-font), var(--mainKor-font);

  body {
    color: var(--black100);
    font-family: var(--mainEng-font), var(--mainKor-font);
  }
}
