@import url(./reset.css);
@import url(./font.css);
@import url(./global.css);
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.indent9999 {
  display: block;
  font-size: 0px;
  text-indent: -9999px;
  overflow: hidden;
}

.wrap {
  width: 100%;
}

.swiper {
  position: relative;
}

.main-swiper-btn p span {
  opacity: 0;
  transition: 0.35s;
}
.main-swiper-btn a:hover p span {
  opacity: 1;
}
.main-swiper-btn .swiper-button-prev:after,
.main-swiper-btn .swiper-button-next:after {
  display: none;
}
.main-swiper-btn .main-prev-btn svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 50px;
  height: 150px;
}
.main-swiper-btn .main-prev-btn svg path {
  stroke: #c9c9c9;
  stroke-width: 4;
  fill: transparent;
  transition: 1s;
  stroke-linecap: round;
}
.main-swiper-btn .main-prev-btn p {
  position: absolute;
  top: 50%;
  left: 40px;
  right: auto;
  width: auto;
  transform: translateY(-50%) rotate(-90deg);
  font-family: "Metropolis";
  font-size: 15px;
  font-weight: 300;
  color: #333;
  line-height: 1;
  letter-spacing: 1px;
}
.main-swiper-btn .main-next-btn svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 50px;
  height: 150px;
}
.main-swiper-btn .main-next-btn svg path {
  stroke: #c9c9c9;
  stroke-width: 4;
  fill: transparent;
  transition: 1s;
  stroke-linecap: round;
}
.main-swiper-btn .main-next-btn p {
  position: absolute;
  top: 50%;
  left: auto;
  right: 40px;
  width: auto;
  transform: translateY(-50%) rotate(90deg);
  font-family: "Metropolis";
  font-size: 15px;
  font-weight: 300;
  color: #333;
  line-height: 1;
  letter-spacing: 1px;
}

section div .swiper .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background: #fff;
  opacity: 0.3;
  border-radius: 5px;
  margin: 0 5px;
  transition: 0.5s;
}
section div .swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

@media (orientation: portrait) {
  .only_mob {
    display: block !important;
  }
  .only_web {
    display: none !important;
  }
}
@media screen and (max-width: 943px) {
  .only_mob {
    display: block !important;
  }
  .only_web {
    display: none !important;
  }
}
header {
  width: 100%;
  background-color: #fff;
  padding-bottom: 20px;
}
@media screen and (max-width: 850px) {
  header {
    padding-bottom: 0;
  }
}
header .header-box {
  width: 100%;
  position: relative;
  padding: 0 80px;
  height: 140px;
  transition: 0.35s;
}
@media screen and (max-width: 1024px) {
  header .header-box {
    padding: 0 30px;
  }
}
@media screen and (max-width: 850px) {
  header .header-box {
    height: 70px;
  }
}
header .header-box h1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.35s;
  z-index: 3;
}
@media screen and (max-width: 1500px) {
  header .header-box h1 {
    left: 80px;
    transform: translateX(0);
  }
}
@media screen and (max-width: 1024px) {
  header .header-box h1 {
    left: 30px;
    transform: translateX(0);
  }
}
@media screen and (max-width: 850px) {
  header .header-box h1 {
    top: 50%;
    bottom: initial;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 91px;
    height: 24px;
  }
}
@media screen and (max-width: 850px) {
  header .header-box .util-mn {
    display: none;
  }
}
header .header-box .util-mn > ul {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
}
header .header-box .util-mn > ul > li {
  font-size: 15px;
  font-weight: 400;
  color: #666;
}
header .header-box .util-mn > ul ul {
  display: flex;
  gap: 10px;
}
header .header-box .util-mn > ul ul a {
  display: block;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
header .header-box .util-mn > ul ul .wedding-btn {
  position: relative;
  background-color: var(--subColor);
  padding: 11px 15px 11px 35px;
}
header .header-box .util-mn > ul ul .wedding-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  width: 15px;
  height: 18px;
  background: url(../img/wedding-icon.png) no-repeat center center/100%;
  transform: translateY(-50%);
}
header .header-box .util-mn > ul ul .shop-btn {
  background-color: #9badb6;
  padding: 11px 15px;
}
header .header-box nav.on {
  background-color: #fff;
  padding: 20px 0 60px 0;
  max-height: 310px;
  z-index: 10;
}
header .header-box .nav-box.on .eng-mn span {
  transform: translateY(-40px);
}
header .header-box .nav-box.on .sub-mn-list {
  width: initial;
  height: initial;
}
header .header-box nav {
  position: absolute;
  width: 100%;
  left: 50%;
  top: calc(100% - 65px);
  transform: translateX(-50%);
  text-align: left;
  transition: 0.35s;
  transition-timing-function: linear;
  padding: 20px 0 0 0;
  max-height: 70px;
  overflow: hidden;
}
header .header-box nav .nav-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  transition: 0.35s;
}
@media screen and (max-width: 1500px) {
  header .header-box nav .nav-wrap {
    padding: 0 80px 0 320px;
  }
}
@media screen and (max-width: 1024px) {
  header .header-box nav .nav-wrap {
    padding: 0 30px 0 250px;
  }
}
header .header-box nav .nav-wrap .sub-mn-list {
  font-size: 15px;
  font-weight: 400;
  color: #666;
  line-height: 25px;
  white-space: nowrap;
  padding: 10px 0 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
header .header-box nav .nav-wrap .sub-mn-list a {
  display: block;
  padding: 5px 0;
}
header .header-box nav .nav-wrap .sub-mn-list a:hover span::before, header .header-box nav .nav-wrap .sub-mn-list a:focus-within span::before {
  width: 100%;
}
header .header-box nav .nav-wrap .sub-mn-list a span {
  position: relative;
}
header .header-box nav .nav-wrap .sub-mn-list a span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 5px;
  background-color: rgba(118, 219, 255, 0.3843137255);
  transition: 0.35s;
}
@media screen and (max-width: 850px) {
  header .header-box nav .nav-wrap .product-box {
    display: none;
  }
}
header .header-box nav .nav-wrap .product-box .main-menu-list {
  display: flex;
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li {
  padding-right: 40px;
  transition: 0.35s;
}
@media screen and (max-width: 1700px) {
  header .header-box nav .nav-wrap .product-box .main-menu-list > li {
    padding-right: 20px;
  }
}
@media screen and (max-width: 1500px) {
  header .header-box nav .nav-wrap .product-box .main-menu-list > li {
    padding-right: 40px;
  }
}
@media screen and (max-width: 1024px) {
  header .header-box nav .nav-wrap .product-box .main-menu-list > li {
    padding-right: 20px;
  }
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn:hover, header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn:focus-within {
  color: var(--mainColor);
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn span {
  display: block;
  transition: 0.35s;
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn span p:first-child {
  font-family: var(--medium-font);
}
header .header-box nav .nav-wrap .etc-box {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 850px) {
  header .header-box nav .nav-wrap .etc-box {
    display: none;
  }
}
@media screen and (max-width: 1500px) {
  header .header-box nav .nav-wrap .etc-box .brand-box {
    display: none;
  }
}
header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list {
  display: flex;
}
header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list > li {
  padding-left: 40px;
  transition: 0.35s;
}
@media screen and (max-width: 1700px) {
  header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list > li {
    padding-left: 20px;
  }
}
header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list > li > a {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  line-height: 36px;
}
header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list > li > a:hover, header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list > li > a:focus-within {
  font-weight: 700;
  color: var(--mainColor);
}
header .header-box nav .nav-wrap .etc-box .site-box ul {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 850px) {
  header .header-box nav .nav-wrap .etc-box .site-box ul {
    display: none;
  }
}
header .header-box nav .nav-wrap .etc-box .site-box ul li button {
  display: block;
  height: 18px;
  padding: 3px;
  border: none;
  background-color: transparent;
  margin: 7px 0;
  cursor: pointer;
}
header .header-box nav .nav-wrap .etc-box .site-box ul li .search-btn {
  width: 17px;
  background: url(../img/gnb-search-btn.png) no-repeat center;
}
header .header-box nav .nav-wrap .etc-box .site-box ul li .menu-btn {
  width: 26px;
  background: url(../img/all-menu-btn.png) no-repeat center;
}
header .header-box .m-all-mn-btn {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  width: 19px;
  height: 20px;
  padding: 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background: url(../img/m-all-menu-btn.png) no-repeat center/19px auto;
}
@media screen and (min-width: 851px) {
  header .header-box .m-all-mn-btn {
    display: none;
  }
}
header .header-box .m-prod-btn {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 23px;
  height: 20px;
  padding: 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background: url(../img/m-prod-meun-btn.png) no-repeat center/23px auto;
}
@media screen and (min-width: 851px) {
  header .header-box .m-prod-btn {
    display: none;
  }
}

.sect1 {
  width: 100%;
  border: 1px solid red;
}
.sect1 .sect1-box {
  width: 100%;
  height: calc(100vh - 280px);
  margin: 85px 0;
}
.sect1 .sect1-box .main-visual-swiper {
  width: 100%;
  height: 100%;
}
.sect1 .sect1-box .main-visual-swiper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.sect1 .sect1-box .main-visual-swiper .swiper-slide a p {
  display: block;
  width: calc(100% - 160px);
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sect2 {
  width: 100%;
}

.sect3 {
  width: 100%;
}

.sect4 {
  width: 100%;
}

.sect5 {
  width: 100%;
}

.sect6 {
  width: 100%;
}

.sect7 {
  width: 100%;
}

.sect8 {
  width: 100%;
}

footer {
  width: 100%;
}