@import url(./reset.css);
@import url(./font.css);
@import url(./global.css);

// common
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.indent9999 {
  display: block;
  font-size: 0px;
  text-indent: -9999px;
  overflow: hidden;
}

.wrap {
  width: 100%;
}
section {
  position: relative;
  margin-bottom: 120px;
}

.swiper {
  position: relative;
}

.main-swiper-btn {
  @media screen and (max-width: 850px) {
    display: none;
  }
  p {
    span {
      opacity: 0;
      transition: 0.35s;
    }
  }
  a {
    &:hover {
      p {
        span {
          opacity: 1;
        }
      }
    }
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    display: none !important;
  }
  .main-prev-btn {
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 50px;
      height: 150px;
      path {
        stroke: #c9c9c9;
        stroke-width: 4;
        fill: transparent;
        transition: 1s;
        stroke-linecap: round;
      }
    }
    p {
      position: absolute;
      top: 50%;
      left: 40px;
      right: auto;
      width: auto;
      transform: translateY(-50%) rotate(-90deg);
      font-family: "Metropolis";
      font-size: 15px;
      font-weight: 300;
      color: #333;
      line-height: 1;
      letter-spacing: 1px;
    }
  }
  .main-next-btn {
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 50px;
      height: 150px;
      path {
        stroke: #c9c9c9;
        stroke-width: 4;
        fill: transparent;
        transition: 1s;
        stroke-linecap: round;
      }
    }
    p {
      position: absolute;
      top: 50%;
      left: auto;
      right: 40px;
      width: auto;
      transform: translateY(-50%) rotate(90deg);
      font-family: "Metropolis";
      font-size: 15px;
      font-weight: 300;
      color: #333;
      line-height: 1;
      letter-spacing: 1px;
    }
  }
}

section {
  div {
    .swiper {
      .swiper-pagination-bullet {
        width: 9px;
        height: 9px;
        background: #fff;
        opacity: 0.3;
        border-radius: 5px;
        margin: 0 5px;
        transition: 0.5s;
      }

      .swiper-pagination-bullet.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }
}

.sect-title {
  display: block;
  width: 100%;
  font-family: var(--light-font);
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
  transition: 1s;
  margin-bottom: 50px;

  @media screen and (max-width: 1100px) {
    font-size: 40px;
  }
  @media screen and (max-width: 850px) {
    font-size: 25px;
  }
}

.more-btn {
  position: absolute;
  top: 14px;
  right: 240px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: var(--light-font);
  @media screen and (max-width: 1100px) {
    display: none;
  }
  span {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 45px;
      width: 30px;
      height: 1px;
      background: #666;
      margin-left: 14px;
      transform: translateY(-50%);
    }
  }
}

@media (orientation: portrait) {
  .only-mob {
    display: block !important;
  }
  .only-web {
    display: none !important;
  }
}

@media screen and (max-width: 943px) {
  .only-mob {
    display: block !important;
  }
  .only-web {
    display: none !important;
  }
}

@media screen and (min-width: 944px) {
  .only-mob {
    display: none !important;
  }
  .only-web {
    display: block !important;
  }
}

//  //common

// header

header {
  width: 100%;
  background-color: #fff;
  padding-bottom: 20px;
  @media screen and (max-width: 850px) {
    padding-bottom: 0;
  }
  .header-box {
    width: 100%;
    position: relative;
    padding: 0 80px;
    height: 140px;
    transition: 0.35s;
    @media screen and (max-width: 1024px) {
      padding: 0 30px;
    }
    @media screen and (max-width: 850px) {
      height: 70px;
    }
    h1 {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.35s;
      z-index: 3;
      @media screen and (max-width: 1500px) {
        left: 80px;
        transform: translateX(0);
      }
      @media screen and (max-width: 1024px) {
        left: 30px;
        transform: translateX(0);
      }
      @media screen and (max-width: 850px) {
        top: 50%;
        bottom: initial;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 91px;
        height: 24px;
      }
    }
    .util-mn {
      @media screen and (max-width: 850px) {
        display: none;
      }
      > ul {
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 20px 0;
        gap: 30px;
        > li {
          font-size: 15px;
          font-weight: 400;
          color: #666;
        }
        ul {
          display: flex;
          gap: 10px;
          a {
            display: block;
            border-radius: 20px;
            color: #fff;
            text-align: center;
            font-size: 15px;
            font-weight: 500;
          }
          .wedding-btn {
            position: relative;
            background-color: var(--subColor);
            padding: 11px 15px 11px 35px;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 15px;
              width: 15px;
              height: 18px;
              background: url(../img/wedding-icon.png) no-repeat center
                center/100%;
              transform: translateY(-50%);
            }
          }
          .shop-btn {
            background-color: #9badb6;
            padding: 11px 15px;
          }
        }
      }
    }
    nav.on {
      background-color: #fff;
      padding: 20px 0 60px 0;
      max-height: 310px;
      z-index: 10;
    }
    .nav-box.on {
      .eng-mn {
        span {
          transform: translateY(-40px);
        }
      }
      .sub-mn-list {
        width: initial;
        height: initial;
      }
    }
    nav {
      position: absolute;
      width: 100%;
      left: 50%;
      top: calc(100% - 65px);
      transform: translateX(-50%);
      text-align: left;
      transition: 0.35s;
      transition-timing-function: linear;
      padding: 20px 0 0 0;
      max-height: 70px;
      overflow: hidden;
      .nav-wrap {
        display: flex;
        justify-content: space-between;
        padding: 0 80px;
        transition: 0.35s;
        @media screen and (max-width: 1500px) {
          padding: 0 80px 0 320px;
        }
        @media screen and (max-width: 1024px) {
          padding: 0 30px 0 250px;
        }

        .sub-mn-list {
          font-size: 15px;
          font-weight: 400;
          color: #666;
          line-height: 25px;
          white-space: nowrap;
          padding: 10px 0 0;
          width: 0;
          height: 0;
          overflow: hidden;
          a {
            display: block;
            padding: 5px 0;
            &:hover,
            &:focus-within {
              span {
                &::before {
                  width: 100%;
                }
              }
            }
            span {
              position: relative;
              &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -4px;
                width: 0;
                height: 5px;
                background-color: #76dbff62;
                transition: 0.35s;
              }
            }
          }
        }

        .product-box {
          @media screen and (max-width: 850px) {
            display: none;
          }
          .main-menu-list {
            display: flex;
            > li {
              padding-right: 40px;
              transition: 0.35s;

              @media screen and (max-width: 1700px) {
                padding-right: 20px;
              }
              @media screen and (max-width: 1500px) {
                padding-right: 40px;
              }
              @media screen and (max-width: 1024px) {
                padding-right: 20px;
              }

              .eng-mn {
                display: block;
                font-size: 16px;
                font-weight: 700;
                color: #333;
                line-height: 40px;
                height: 40px;
                overflow: hidden;
                &:hover,
                &:focus-within {
                  color: var(--mainColor);
                }
                span {
                  display: block;
                  transition: 0.35s;
                  p {
                    &:first-child {
                      font-family: var(--medium-font);
                    }
                  }
                }
              }
            }
          }
        }
        .etc-box {
          display: flex;
          gap: 40px;
          @media screen and (max-width: 850px) {
            display: none;
          }
          .brand-box {
            @media screen and (max-width: 1500px) {
              display: none;
            }
            .main-menu-list {
              display: flex;
              > li {
                padding-left: 40px;
                transition: 0.35s;
                @media screen and (max-width: 1700px) {
                  padding-left: 20px;
                }

                > a {
                  font-size: 16px;
                  font-weight: 500;
                  color: #333;
                  line-height: 36px;
                  &:hover,
                  &:focus-within {
                    font-weight: 700;
                    color: var(--mainColor);
                  }
                }
              }
            }
          }
          .site-box {
            ul {
              display: flex;
              gap: 30px;
              @media screen and (max-width: 850px) {
                display: none;
              }
              li {
                button {
                  display: block;
                  height: 18px;
                  padding: 3px;
                  border: none;
                  background-color: transparent;
                  margin: 7px 0;
                  cursor: pointer;
                }
                .search-btn {
                  width: 17px;
                  background: url(../img/gnb-search-btn.png) no-repeat center;
                }
                .menu-btn {
                  width: 26px;
                  background: url(../img/all-menu-btn.png) no-repeat center;
                }
              }
            }
          }
        }
      }
    }
    .m-all-mn-btn {
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
      width: 19px;
      height: 20px;
      padding: 3px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      background: url(../img/m-all-menu-btn.png) no-repeat center/19px auto;
      @media screen and (min-width: 851px) {
        display: none;
      }
    }
    .m-prod-btn {
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      right: 30px;
      width: 23px;
      height: 20px;
      padding: 3px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      background: url(../img/m-prod-meun-btn.png) no-repeat center/23px auto;
      @media screen and (min-width: 851px) {
        display: none;
      }
    }
  }
}
//  //header

//  main

// sect1
.sect1 {
  width: 100%;
  padding-top: 50px;
  .sect1-box {
    width: 100%;
    height: calc(100vh - 280px);
    @media screen and (max-width: 943px) {
      height: calc(100vh - 120px);
    }
    .main-visual-swiper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        a {
          display: block;
          width: 100%;
          height: 100%;
          p {
            display: block;
            width: calc(100% - 160px);
            height: 100%;
            margin: 0 auto;
            overflow: hidden;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            @media screen and (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
      .swiper-pagination {
        @media screen and (min-width: 851px) {
          display: none;
        }
      }
    }
  }
}
// // sect1

// sect2
.sect2 {
  width: 100%;
  padding-top: 50px;
  .sect2-box {
    position: relative;
    .swiper-box {
      position: relative;
      .sect2-swiper {
        position: relative;
        max-width: 610px;
        height: 800px;
        margin: auto;
        transition: 0.35s;
        @media screen and (max-width: 1700px) {
          max-width: 500px;
        }
        @media screen and (max-width: 1380px) {
          max-width: 426px;
        }
        @media screen and (max-width: 1280px) {
          max-width: 710px;
        }
        .swiper-slide {
          position: relative;
          height: 800px;
          margin: auto;
          overflow: hidden;
          video {
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            height: 800px;
          }
          .m-txt {
            position: absolute;
            z-index: 5;
            bottom: 75px;
            left: 5%;
            width: 385px;
            height: auto;
            overflow: hidden;
            color: #fff;
            transition: 0.35s;
            @media screen and (min-width: 1281px) {
              display: none;
            }
            @media screen and (max-width: 725px) {
              width: 90%;
              height: 320px;
              top: auto;
              bottom: 40px;
              left: 5%;
              transform: translate(0, 0);
              z-index: 10;
            }
            .addtxt1 {
              font-size: 30px;
              font-weight: 900;
              margin-bottom: 35px;
              transition: 0.35s;
              font-family: var(--bold-font);
              @media screen and (max-width: 725px) {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 20px;
              }
            }
            .txt1 {
              font-size: 40px;
              font-weight: 500;
              line-height: 54px;
              letter-spacing: -3px;
              word-break: keep-all;
              transition: 0.35s;
              @media screen and (max-width: 725px) {
                font-size: 25px;
                line-height: 35px;
              }
            }
            .txt2 {
              font-size: 20px;
              line-height: 30px;
              margin-top: 24px;
              word-break: keep-all;
              transition: 0.35s;
              @media screen and (max-width: 725px) {
                font-size: 16px;
                line-height: 29px;
                margin-top: 15px;
              }
            }
          }
          &::after {
            content: "";
            position: absolute;
            display: block;
            z-index: 3;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 750px;
            background: url(../img/mainsec4_gradi_m.png) no-repeat bottom
              center/ 100%;
            @media screen and (min-width: 1281px) {
              display: none;
            }
            @media screen and (max-width: 725px) {
              height: 75vh;
              background-size: 100% 100%;
            }
          }
        }
      }
      .swiper-pagination-bullet.swiper-pagination-bullet-active {
        font-size: 0;
        color: transparent;
        @media screen and (min-width: 1281px) {
          font-size: 22px;
          color: #0890c0;
          font-family: var(--bold-font);
          background-color: transparent;
        }
        @media (max-width: 1280px) {
          opacity: 1;
        }
      }
      .swiper-pagination-bullet {
        font-size: 0;
        color: transparent;

        @media screen and (min-width: 1281px) {
          display: block;
          position: relative;
          width: 100%;
          height: 17px;
          margin-bottom: 27px;
          font-size: 16px;
          color: #999;
          letter-spacing: 1px;
          text-align: left;
          opacity: 1;
          background-color: transparent;
          cursor: pointer;
        }
        @media (max-width: 1280px) {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background: #fff;
          margin: 0 10px;
          opacity: 0.3;
        }
        @media screen and (max-width: 725px) {
          width: 9px;
          height: 9px;
          margin: 0 7px;
        }
      }
      .swiper-pagination {
        font-size: 0;
        color: transparent;
        @media screen and (min-width: 1281px) {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 160px;
          width: 300px;
          height: 150px;
        }
        @media (max-width: 1280px) {
          bottom: 20px;
        }
        @media screen and (max-width: 725px) {
          bottom: 40px;
        }
      }
    }
    .txt-area {
      position: absolute;
      top: 0;
      right: 130px;
      width: 385px;
      height: 100%;
      overflow: hidden;
      transition: 0.35s;
      @media screen and (max-width: 1700px) {
        width: 325px;
        right: 140px;
      }
      @media screen and (max-width: 1500px) {
        width: 285px;
        right: 110px;
      }
      @media screen and (max-width: 1380px) {
        width: 235px;
        right: 140px;
      }
      @media screen and (max-width: 1281px) {
        display: none;
      }
      .txt-wrap {
        position: relative;
        top: 50%;
        right: 0px;
        width: 100%;
        height: 330px;
        transform: translate(0, -50%);
        overflow: hidden;
        .txt.prev {
          transform: translateY(-200%);
          opacity: 0;
          visibility: hidden;
        }
        .txt.on {
          opacity: 1;
          visibility: visible;
          transform: translateY(-50%);
        }
        .txt {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: auto;
          opacity: 0;
          visibility: hidden;
          transform: translateY(100%);
          transition: 1s;
          .txt1 {
            font-size: 40px;
            font-weight: 500;
            color: #333;
            line-height: 54px;
            letter-spacing: -3px;
            word-break: keep-all;
            transition: 0.35s;
            @media screen and (max-width: 1700px) {
              font-size: 35px;
            }
            @media screen and (max-width: 1500px) {
              font-size: 30px;
              letter-spacing: -2px;
              line-height: 40px;
            }
            @media screen and (max-width: 1380px) {
              font-size: 25px;
              letter-spacing: -2px;
              line-height: 35px;
            }
          }
          .txt2 {
            font-size: 20px;
            line-height: 30px;
            margin-top: 24px;
            word-break: keep-all;
            transition: 0.35s;
            @media screen and (max-width: 1700px) {
              font-size: 18px;
            }
            @media screen and (max-width: 1500px) {
              font-size: 16px;
            }
            @media screen and (max-width: 1380px) {
              font-size: 15px;
              letter-spacing: -2px;
            }
          }
        }
      }
    }
  }
}

// // sect2

// sect3
.sect3 {
  width: 100%;
  padding: 150px 0;
  background: #f4f7fa;
  .sect3-box {
    position: relative;
    .tab-list {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin-bottom: 50px;
      transition: 0.35s;
      @media (max-width: 1100px) {
        margin-bottom: 30px;
        gap: 20px;
      }
      @media (max-width: 768px) {
        margin-bottom: 25px;
      }
      li {
        position: relative;
        span {
          display: block;
          width: 2px;
          height: 24px;
          background-color: #dddddd;
          @media (max-width: 1100px) {
            height: 19px;
          }
          @media (max-width: 768px) {
            height: 17px;
          }
        }
        a {
          position: relative;
          font-size: 24px;
          color: #888;
          font-family: var(--medium-font);
          font-weight: 300;
          transition: 0.35s;
          @media (max-width: 1100px) {
            font-size: 19px;
          }
          @media (max-width: 768px) {
            font-size: 17px;
          }
          &:hover {
            color: #0890c0;
            font-family: var(--bold-font);
            font-weight: 700;
          }
        }
        a.on {
          color: #0890c0;
          font-family: var(--bold-font);
          font-weight: 700;
        }
      }
    }
    .product-wrap {
      .product-box.on {
        display: block;
      }
      .product-box {
        display: none;
        .only-web {
          .inner-box {
            position: relative;
            .swiper-scrollbar {
              left: 50%;
              bottom: -30px;
              transform: translateX(-50%);
              width: 90%;
              height: 4px;
              margin: auto;
              background: #dbdee1;
              .swiper-scrollbar-drag {
                background: #0890c0;
              }
            }
            .swiper {
              .swiper-slide.swiper-slide-active {
                .text-box {
                  opacity: 1;
                  transform: translateY(0);
                }
              }
              .swiper-slide {
                position: relative;
                .slide-bg {
                  position: relative;
                  width: 100%;
                  height: 720px;
                  overflow: hidden;
                  img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    max-width: none;
                    min-width: 100%;
                    max-height: 120%;
                  }
                  &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    background: url(../img/dimd2_main.png) no-repeat;
                  }
                }
                .text-box {
                  position: absolute;
                  opacity: 0;
                  transition-delay: 0.5s;
                  transition-duration: 1s;
                  transform: translateY(50%);
                  top: 10%;
                  left: 10%;
                  z-index: 3;
                  color: #fff;
                  .tag-list {
                    display: flex;
                    gap: 3px;
                    li {
                      display: block;
                      height: 27px;
                      padding: 0 10px;
                      font-size: 15px;
                      line-height: 27px;
                      border: 0.5px solid #fff;
                      border-radius: 15px;
                      font-family: var(--light-font);
                      font-weight: 300;
                    }
                  }
                  .product-title {
                    margin-top: 30px;
                    font-size: 30px;
                    font-family: var(--bold-font);
                    font-weight: 700;
                  }
                  .product-desc {
                    margin-top: 30px;
                    font-size: 18px;
                    line-height: 30px;
                    font-family: var(--light-font);
                    font-weight: 300;
                  }
                  .view-btn {
                    position: relative;
                    display: block;
                    margin-top: 60px;
                    width: 108px;
                    height: 50px;
                    padding: 0 30px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 50px;
                    border: 1px solid #fff;
                    overflow: hidden;
                    span {
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      z-index: 2;
                      transform: translate(-50%, -50%);
                    }
                    &::after {
                      content: "";
                      position: absolute;
                      top: 100%;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      z-index: 1;
                      transition: 0.35s;
                      background-color: var(--mainColor);
                    }
                    &:hover::after {
                      top: 0;
                    }
                  }
                }
              }
            }
          }
        }
        .only-mob {
          .inner-box {
            position: relative;
            padding: 0 50px;
            .view-box {
              width: 100%;
              margin-bottom: 50px;
              .img-box {
                width: 100%;
                margin-bottom: 20px;
                overflow: hidden;
              }
              .tag-list {
                display: flex;
                gap: 3px;
                li {
                  display: block;
                  height: 27px;
                  padding: 0 10px;
                  font-size: 15px;
                  line-height: 27px;
                  border: 0.5px solid #666;
                  border-radius: 15px;
                  font-family: var(--light-font);
                  font-weight: 300;
                }
              }
              .product-title {
                margin-top: 15px;
                font-size: 24px;
                font-family: var(--bold-font);
                font-weight: 700;
              }
              .product-desc {
                margin-top: 15px;
                font-size: 16px;
                line-height: 26px;
                font-family: var(--light-font);
                font-weight: 300;
              }
              .view-btn {
                display: block;
                width: 60px;
                height: 16px;
                margin-top: 15px;
                background: url(../img/go-right-icon.png) no-repeat center
                  center / 100%;
              }
            }
            .swiper {
              .swiper-scrollbar {
                opacity: 0;
              }
              .swiper-slide {
                position: relative;
                width: 150px;
                .img-box {
                  position: relative;
                  width: 100%;
                  height: 84px;
                  overflow: hidden;
                  img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    min-width: 100%;
                    max-height: 120%;
                  }
                }
                .product-title {
                  font-size: 19px;
                  color: #333;
                  font-weight: 400;
                  margin-top: 13px;
                }
              }
            }
            .more-product-btn {
              position: relative;
              display: block;
              margin-top: 60px;
              width: 108px;
              height: 50px;
              padding: 0 30px;
              text-align: center;
              font-size: 16px;
              font-weight: 500;
              line-height: 50px;
              border: 1px solid #666;
              overflow: hidden;
              span {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                transform: translate(-50%, -50%);
              }
              &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                transition: 0.35s;
                background-color: var(--mainColor);
              }
              &:hover {
                color: #fff;
                &::after {
                  top: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
// // sect3

// sect4
.sect4 {
  width: 100%;
}
// // sect4

// sect5
.sect5 {
  width: 100%;
}
// // sect5

// sect6
.sect6 {
  width: 100%;
}
// // sect6

// sect7
.sect7 {
  width: 100%;
}
// // sect7

// sect8
.sect8 {
  width: 100%;
}
// // sect8

// // main

// footer
footer {
  width: 100%;
}
// // footer
