@import url(./reset.css);
@import url(./font.css);
@import url(./global.css);
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.indent9999 {
  display: block;
  font-size: 0px;
  text-indent: -9999px;
  overflow: hidden;
}

.wrap {
  width: 100%;
}

header {
  width: 100%;
}
header .header-box {
  width: 100%;
  position: relative;
  padding: 0 80px;
  height: 155px;
  border: 1px solid red;
}
header .header-box h1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
header .header-box .util-mn > ul {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
}
header .header-box .util-mn > ul > li {
  font-size: 15px;
  font-weight: 400;
  color: #666;
}
header .header-box .util-mn > ul ul {
  display: flex;
  gap: 10px;
}
header .header-box .util-mn > ul ul a {
  display: block;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
header .header-box .util-mn > ul ul .wedding-btn {
  position: relative;
  background-color: var(--subColor);
  padding: 11px 15px 11px 35px;
}
header .header-box .util-mn > ul ul .wedding-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  width: 15px;
  height: 18px;
  background: url(../img/wedding-icon.png) no-repeat center center/100%;
  transform: translateY(-50%);
}
header .header-box .util-mn > ul ul .shop-btn {
  background-color: #9badb6;
  padding: 11px 15px;
}
header .header-box nav.on {
  background-color: #fff;
  padding: 20px 0 60px 0;
  max-height: 310px;
  z-index: 10;
}
header .header-box .nav-box.on .eng-mn span {
  transform: translateY(-40px);
}
header .header-box .nav-box.on .sub-mn-list {
  width: initial;
  height: initial;
}
header .header-box nav {
  position: absolute;
  width: 100%;
  left: 50%;
  top: calc(100% - 65px);
  transform: translateX(-50%);
  text-align: left;
  transition: 0.35s;
  transition-timing-function: linear;
  padding: 20px 0 0 0;
  max-height: 70px;
  overflow: hidden;
}
header .header-box nav .nav-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}
header .header-box nav .nav-wrap .sub-mn-list {
  font-size: 15px;
  font-weight: 400;
  color: #666;
  line-height: 25px;
  white-space: nowrap;
  padding: 10px 0 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
header .header-box nav .nav-wrap .sub-mn-list a {
  display: block;
  padding: 5px 0;
}
header .header-box nav .nav-wrap .sub-mn-list a:hover span::before, header .header-box nav .nav-wrap .sub-mn-list a:focus-within span::before {
  width: 100%;
}
header .header-box nav .nav-wrap .sub-mn-list a span {
  position: relative;
}
header .header-box nav .nav-wrap .sub-mn-list a span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 5px;
  background-color: rgba(118, 219, 255, 0.3843137255);
  transition: 0.35s;
}
header .header-box nav .nav-wrap .product-box .main-menu-list {
  display: flex;
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li {
  padding-right: 40px;
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn:hover, header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn:focus-within {
  color: var(--mainColor);
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn span {
  display: block;
  transition: 0.35s;
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn span p:first-child {
  font-family: var(--medium-font);
}
header .header-box nav .nav-wrap .etc-box {
  display: flex;
  gap: 40px;
}
header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list {
  display: flex;
}
header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list > li {
  padding-left: 40px;
}
header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list > li > a {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  line-height: 36px;
}
header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list > li > a:hover, header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list > li > a:focus-within {
  font-weight: 700;
  color: var(--mainColor);
}
header .header-box nav .nav-wrap .etc-box .site-box ul {
  display: flex;
  gap: 30px;
}
header .header-box nav .nav-wrap .etc-box .site-box ul li button {
  display: block;
  height: 18px;
  padding: 3px;
  border: none;
  background-color: transparent;
  margin: 7px 0;
  cursor: pointer;
}
header .header-box nav .nav-wrap .etc-box .site-box ul li .search-btn {
  width: 17px;
  background: url(../img/gnb-search-btn.png) no-repeat center;
}
header .header-box nav .nav-wrap .etc-box .site-box ul li .menu-btn {
  width: 26px;
  background: url(../img/all-menu-btn.png) no-repeat center;
}

.sect1 {
  width: 100%;
}

.sect2 {
  width: 100%;
}

.sect3 {
  width: 100%;
}

.sect4 {
  width: 100%;
}

.sect5 {
  width: 100%;
}

.sect6 {
  width: 100%;
}

.sect7 {
  width: 100%;
}

.sect8 {
  width: 100%;
}

footer {
  width: 100%;
}