@import url(./reset.css);
@import url(./font.css);
@import url(./global.css);
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.indent9999 {
  display: block;
  font-size: 0px;
  text-indent: -9999px;
  overflow: hidden;
}

.wrap {
  width: 100%;
}

section {
  position: relative;
  margin-bottom: 120px;
}

.swiper {
  position: relative;
}

@media screen and (max-width: 850px) {
  .main-swiper-btn {
    display: none;
  }
}
.main-swiper-btn p span {
  opacity: 0;
  transition: 0.35s;
}
.main-swiper-btn a:hover p span {
  opacity: 1;
}
.main-swiper-btn .swiper-button-prev:after,
.main-swiper-btn .swiper-button-next:after {
  display: none !important;
}
.main-swiper-btn .main-prev-btn svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 50px;
  height: 150px;
}
.main-swiper-btn .main-prev-btn svg path {
  stroke: #c9c9c9;
  stroke-width: 4;
  fill: transparent;
  transition: 1s;
  stroke-linecap: round;
}
.main-swiper-btn .main-prev-btn p {
  position: absolute;
  top: 50%;
  left: 40px;
  right: auto;
  width: auto;
  transform: translateY(-50%) rotate(-90deg);
  font-family: "Metropolis";
  font-size: 15px;
  font-weight: 300;
  color: #333;
  line-height: 1;
  letter-spacing: 1px;
}
.main-swiper-btn .main-next-btn svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 50px;
  height: 150px;
}
.main-swiper-btn .main-next-btn svg path {
  stroke: #c9c9c9;
  stroke-width: 4;
  fill: transparent;
  transition: 1s;
  stroke-linecap: round;
}
.main-swiper-btn .main-next-btn p {
  position: absolute;
  top: 50%;
  left: auto;
  right: 40px;
  width: auto;
  transform: translateY(-50%) rotate(90deg);
  font-family: "Metropolis";
  font-size: 15px;
  font-weight: 300;
  color: #333;
  line-height: 1;
  letter-spacing: 1px;
}

section div .swiper .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background: #fff;
  opacity: 0.3;
  border-radius: 5px;
  margin: 0 5px;
  transition: 0.5s;
}
section div .swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.sect-title {
  display: block;
  width: 100%;
  font-family: var(--light-font);
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
  transition: 1s;
  margin-bottom: 50px;
}
@media screen and (max-width: 1100px) {
  .sect-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 850px) {
  .sect-title {
    font-size: 25px;
  }
}

.more-btn {
  position: absolute;
  top: 14px;
  right: 240px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: var(--light-font);
}
@media screen and (max-width: 1100px) {
  .more-btn {
    display: none;
  }
}
.more-btn span {
  position: relative;
}
.more-btn span::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 45px;
  width: 30px;
  height: 1px;
  background: #666;
  margin-left: 14px;
  transform: translateY(-50%);
}

@media (orientation: portrait) {
  .only-mob {
    display: block !important;
  }
  .only-web {
    display: none !important;
  }
}
@media screen and (max-width: 943px) {
  .only-mob {
    display: block !important;
  }
  .only-web {
    display: none !important;
  }
}
@media screen and (min-width: 944px) {
  .only-mob {
    display: none !important;
  }
  .only-web {
    display: block !important;
  }
}
header {
  width: 100%;
  background-color: #fff;
  padding-bottom: 20px;
}
@media screen and (max-width: 850px) {
  header {
    padding-bottom: 0;
  }
}
header .header-box {
  width: 100%;
  position: relative;
  padding: 0 80px;
  height: 140px;
  transition: 0.35s;
}
@media screen and (max-width: 1024px) {
  header .header-box {
    padding: 0 30px;
  }
}
@media screen and (max-width: 850px) {
  header .header-box {
    height: 70px;
  }
}
header .header-box h1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.35s;
  z-index: 3;
}
@media screen and (max-width: 1500px) {
  header .header-box h1 {
    left: 80px;
    transform: translateX(0);
  }
}
@media screen and (max-width: 1024px) {
  header .header-box h1 {
    left: 30px;
    transform: translateX(0);
  }
}
@media screen and (max-width: 850px) {
  header .header-box h1 {
    top: 50%;
    bottom: initial;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 91px;
    height: 24px;
  }
}
@media screen and (max-width: 850px) {
  header .header-box .util-mn {
    display: none;
  }
}
header .header-box .util-mn > ul {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
}
header .header-box .util-mn > ul > li {
  font-size: 15px;
  font-weight: 400;
  color: #666;
}
header .header-box .util-mn > ul ul {
  display: flex;
  gap: 10px;
}
header .header-box .util-mn > ul ul a {
  display: block;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
header .header-box .util-mn > ul ul .wedding-btn {
  position: relative;
  background-color: var(--subColor);
  padding: 11px 15px 11px 35px;
}
header .header-box .util-mn > ul ul .wedding-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  width: 15px;
  height: 18px;
  background: url(../img/wedding-icon.png) no-repeat center center/100%;
  transform: translateY(-50%);
}
header .header-box .util-mn > ul ul .shop-btn {
  background-color: #9badb6;
  padding: 11px 15px;
}
header .header-box nav.on {
  background-color: #fff;
  padding: 20px 0 60px 0;
  max-height: 310px;
  z-index: 10;
}
header .header-box .nav-box.on .eng-mn span {
  transform: translateY(-40px);
}
header .header-box .nav-box.on .sub-mn-list {
  width: initial;
  height: initial;
}
header .header-box nav {
  position: absolute;
  width: 100%;
  left: 50%;
  top: calc(100% - 65px);
  transform: translateX(-50%);
  text-align: left;
  transition: 0.35s;
  transition-timing-function: linear;
  padding: 20px 0 0 0;
  max-height: 70px;
  overflow: hidden;
}
header .header-box nav .nav-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  transition: 0.35s;
}
@media screen and (max-width: 1500px) {
  header .header-box nav .nav-wrap {
    padding: 0 80px 0 320px;
  }
}
@media screen and (max-width: 1024px) {
  header .header-box nav .nav-wrap {
    padding: 0 30px 0 250px;
  }
}
header .header-box nav .nav-wrap .sub-mn-list {
  font-size: 15px;
  font-weight: 400;
  color: #666;
  line-height: 25px;
  white-space: nowrap;
  padding: 10px 0 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
header .header-box nav .nav-wrap .sub-mn-list a {
  display: block;
  padding: 5px 0;
}
header .header-box nav .nav-wrap .sub-mn-list a:hover span::before, header .header-box nav .nav-wrap .sub-mn-list a:focus-within span::before {
  width: 100%;
}
header .header-box nav .nav-wrap .sub-mn-list a span {
  position: relative;
}
header .header-box nav .nav-wrap .sub-mn-list a span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 5px;
  background-color: rgba(118, 219, 255, 0.3843137255);
  transition: 0.35s;
}
@media screen and (max-width: 850px) {
  header .header-box nav .nav-wrap .product-box {
    display: none;
  }
}
header .header-box nav .nav-wrap .product-box .main-menu-list {
  display: flex;
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li {
  padding-right: 40px;
  transition: 0.35s;
}
@media screen and (max-width: 1700px) {
  header .header-box nav .nav-wrap .product-box .main-menu-list > li {
    padding-right: 20px;
  }
}
@media screen and (max-width: 1500px) {
  header .header-box nav .nav-wrap .product-box .main-menu-list > li {
    padding-right: 40px;
  }
}
@media screen and (max-width: 1024px) {
  header .header-box nav .nav-wrap .product-box .main-menu-list > li {
    padding-right: 20px;
  }
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn:hover, header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn:focus-within {
  color: var(--mainColor);
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn span {
  display: block;
  transition: 0.35s;
}
header .header-box nav .nav-wrap .product-box .main-menu-list > li .eng-mn span p:first-child {
  font-family: var(--medium-font);
}
header .header-box nav .nav-wrap .etc-box {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 850px) {
  header .header-box nav .nav-wrap .etc-box {
    display: none;
  }
}
@media screen and (max-width: 1500px) {
  header .header-box nav .nav-wrap .etc-box .brand-box {
    display: none;
  }
}
header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list {
  display: flex;
}
header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list > li {
  padding-left: 40px;
  transition: 0.35s;
}
@media screen and (max-width: 1700px) {
  header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list > li {
    padding-left: 20px;
  }
}
header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list > li > a {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  line-height: 36px;
}
header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list > li > a:hover, header .header-box nav .nav-wrap .etc-box .brand-box .main-menu-list > li > a:focus-within {
  font-weight: 700;
  color: var(--mainColor);
}
header .header-box nav .nav-wrap .etc-box .site-box ul {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 850px) {
  header .header-box nav .nav-wrap .etc-box .site-box ul {
    display: none;
  }
}
header .header-box nav .nav-wrap .etc-box .site-box ul li button {
  display: block;
  height: 18px;
  padding: 3px;
  border: none;
  background-color: transparent;
  margin: 7px 0;
  cursor: pointer;
}
header .header-box nav .nav-wrap .etc-box .site-box ul li .search-btn {
  width: 17px;
  background: url(../img/gnb-search-btn.png) no-repeat center;
}
header .header-box nav .nav-wrap .etc-box .site-box ul li .menu-btn {
  width: 26px;
  background: url(../img/all-menu-btn.png) no-repeat center;
}
header .header-box .m-all-mn-btn {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  width: 19px;
  height: 20px;
  padding: 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background: url(../img/m-all-menu-btn.png) no-repeat center/19px auto;
}
@media screen and (min-width: 851px) {
  header .header-box .m-all-mn-btn {
    display: none;
  }
}
header .header-box .m-prod-btn {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 23px;
  height: 20px;
  padding: 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background: url(../img/m-prod-meun-btn.png) no-repeat center/23px auto;
}
@media screen and (min-width: 851px) {
  header .header-box .m-prod-btn {
    display: none;
  }
}

.sect1 {
  width: 100%;
  padding-top: 50px;
}
.sect1 .sect1-box {
  width: 100%;
  height: calc(100vh - 280px);
}
@media screen and (max-width: 943px) {
  .sect1 .sect1-box {
    height: calc(100vh - 120px);
  }
}
.sect1 .sect1-box .main-visual-swiper {
  width: 100%;
  height: 100%;
}
.sect1 .sect1-box .main-visual-swiper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.sect1 .sect1-box .main-visual-swiper .swiper-slide a p {
  display: block;
  width: calc(100% - 160px);
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 700px) {
  .sect1 .sect1-box .main-visual-swiper .swiper-slide a p {
    width: 100%;
  }
}
@media screen and (min-width: 851px) {
  .sect1 .sect1-box .main-visual-swiper .swiper-pagination {
    display: none;
  }
}

.sect2 {
  width: 100%;
  padding-top: 50px;
}
.sect2 .sect2-box {
  position: relative;
}
.sect2 .sect2-box .swiper-box {
  position: relative;
}
.sect2 .sect2-box .swiper-box .sect2-swiper {
  position: relative;
  max-width: 610px;
  height: 800px;
  margin: auto;
  transition: 0.35s;
}
@media screen and (max-width: 1700px) {
  .sect2 .sect2-box .swiper-box .sect2-swiper {
    max-width: 500px;
  }
}
@media screen and (max-width: 1380px) {
  .sect2 .sect2-box .swiper-box .sect2-swiper {
    max-width: 426px;
  }
}
@media screen and (max-width: 1280px) {
  .sect2 .sect2-box .swiper-box .sect2-swiper {
    max-width: 710px;
  }
}
.sect2 .sect2-box .swiper-box .sect2-swiper .swiper-slide {
  position: relative;
  height: 800px;
  margin: auto;
  overflow: hidden;
}
.sect2 .sect2-box .swiper-box .sect2-swiper .swiper-slide video {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 800px;
}
.sect2 .sect2-box .swiper-box .sect2-swiper .swiper-slide .m-txt {
  position: absolute;
  z-index: 5;
  bottom: 75px;
  left: 5%;
  width: 385px;
  height: auto;
  overflow: hidden;
  color: #fff;
  transition: 0.35s;
}
@media screen and (min-width: 1281px) {
  .sect2 .sect2-box .swiper-box .sect2-swiper .swiper-slide .m-txt {
    display: none;
  }
}
@media screen and (max-width: 725px) {
  .sect2 .sect2-box .swiper-box .sect2-swiper .swiper-slide .m-txt {
    width: 90%;
    height: 320px;
    top: auto;
    bottom: 40px;
    left: 5%;
    transform: translate(0, 0);
    z-index: 10;
  }
}
.sect2 .sect2-box .swiper-box .sect2-swiper .swiper-slide .m-txt .addtxt1 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 35px;
  transition: 0.35s;
  font-family: var(--bold-font);
}
@media screen and (max-width: 725px) {
  .sect2 .sect2-box .swiper-box .sect2-swiper .swiper-slide .m-txt .addtxt1 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
.sect2 .sect2-box .swiper-box .sect2-swiper .swiper-slide .m-txt .txt1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -3px;
  word-break: keep-all;
  transition: 0.35s;
}
@media screen and (max-width: 725px) {
  .sect2 .sect2-box .swiper-box .sect2-swiper .swiper-slide .m-txt .txt1 {
    font-size: 25px;
    line-height: 35px;
  }
}
.sect2 .sect2-box .swiper-box .sect2-swiper .swiper-slide .m-txt .txt2 {
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  word-break: keep-all;
  transition: 0.35s;
}
@media screen and (max-width: 725px) {
  .sect2 .sect2-box .swiper-box .sect2-swiper .swiper-slide .m-txt .txt2 {
    font-size: 16px;
    line-height: 29px;
    margin-top: 15px;
  }
}
.sect2 .sect2-box .swiper-box .sect2-swiper .swiper-slide::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 3;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 750px;
  background: url(../img/mainsec4_gradi_m.png) no-repeat bottom center/100%;
}
@media screen and (min-width: 1281px) {
  .sect2 .sect2-box .swiper-box .sect2-swiper .swiper-slide::after {
    display: none;
  }
}
@media screen and (max-width: 725px) {
  .sect2 .sect2-box .swiper-box .sect2-swiper .swiper-slide::after {
    height: 75vh;
    background-size: 100% 100%;
  }
}
.sect2 .sect2-box .swiper-box .swiper-pagination-bullet.swiper-pagination-bullet-active {
  font-size: 0;
  color: transparent;
}
@media screen and (min-width: 1281px) {
  .sect2 .sect2-box .swiper-box .swiper-pagination-bullet.swiper-pagination-bullet-active {
    font-size: 22px;
    color: var(--mainColor);
    font-family: var(--bold-font);
    background-color: transparent;
  }
}
@media (max-width: 1280px) {
  .sect2 .sect2-box .swiper-box .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
  }
}
.sect2 .sect2-box .swiper-box .swiper-pagination-bullet {
  font-size: 0;
  color: transparent;
}
@media screen and (min-width: 1281px) {
  .sect2 .sect2-box .swiper-box .swiper-pagination-bullet {
    display: block;
    position: relative;
    width: 100%;
    height: 17px;
    margin-bottom: 27px;
    font-size: 16px;
    color: #999;
    letter-spacing: 1px;
    text-align: left;
    opacity: 1;
    background-color: transparent;
    cursor: pointer;
  }
}
@media (max-width: 1280px) {
  .sect2 .sect2-box .swiper-box .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    margin: 0 10px;
    opacity: 0.3;
  }
}
@media screen and (max-width: 725px) {
  .sect2 .sect2-box .swiper-box .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    margin: 0 7px;
  }
}
.sect2 .sect2-box .swiper-box .swiper-pagination {
  font-size: 0;
  color: transparent;
}
@media screen and (min-width: 1281px) {
  .sect2 .sect2-box .swiper-box .swiper-pagination {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 160px;
    width: 300px;
    height: 150px;
  }
}
@media (max-width: 1280px) {
  .sect2 .sect2-box .swiper-box .swiper-pagination {
    bottom: 20px;
  }
}
@media screen and (max-width: 725px) {
  .sect2 .sect2-box .swiper-box .swiper-pagination {
    bottom: 40px;
  }
}
.sect2 .sect2-box .txt-area {
  position: absolute;
  top: 0;
  right: 130px;
  width: 385px;
  height: 100%;
  overflow: hidden;
  transition: 0.35s;
}
@media screen and (max-width: 1700px) {
  .sect2 .sect2-box .txt-area {
    width: 325px;
    right: 140px;
  }
}
@media screen and (max-width: 1500px) {
  .sect2 .sect2-box .txt-area {
    width: 285px;
    right: 110px;
  }
}
@media screen and (max-width: 1380px) {
  .sect2 .sect2-box .txt-area {
    width: 235px;
    right: 140px;
  }
}
@media screen and (max-width: 1281px) {
  .sect2 .sect2-box .txt-area {
    display: none;
  }
}
.sect2 .sect2-box .txt-area .txt-wrap {
  position: relative;
  top: 50%;
  right: 0px;
  width: 100%;
  height: 330px;
  transform: translate(0, -50%);
  overflow: hidden;
}
.sect2 .sect2-box .txt-area .txt-wrap .txt.prev {
  transform: translateY(-200%);
  opacity: 0;
  visibility: hidden;
}
.sect2 .sect2-box .txt-area .txt-wrap .txt.on {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%);
}
.sect2 .sect2-box .txt-area .txt-wrap .txt {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 1s;
}
.sect2 .sect2-box .txt-area .txt-wrap .txt .txt1 {
  font-size: 40px;
  font-weight: 500;
  color: #333;
  line-height: 54px;
  letter-spacing: -3px;
  word-break: keep-all;
  transition: 0.35s;
}
@media screen and (max-width: 1700px) {
  .sect2 .sect2-box .txt-area .txt-wrap .txt .txt1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 1500px) {
  .sect2 .sect2-box .txt-area .txt-wrap .txt .txt1 {
    font-size: 30px;
    letter-spacing: -2px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1380px) {
  .sect2 .sect2-box .txt-area .txt-wrap .txt .txt1 {
    font-size: 25px;
    letter-spacing: -2px;
    line-height: 35px;
  }
}
.sect2 .sect2-box .txt-area .txt-wrap .txt .txt2 {
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  word-break: keep-all;
  transition: 0.35s;
}
@media screen and (max-width: 1700px) {
  .sect2 .sect2-box .txt-area .txt-wrap .txt .txt2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1500px) {
  .sect2 .sect2-box .txt-area .txt-wrap .txt .txt2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 1380px) {
  .sect2 .sect2-box .txt-area .txt-wrap .txt .txt2 {
    font-size: 15px;
    letter-spacing: -2px;
  }
}

.sect3 {
  width: 100%;
  padding: 150px 0;
  background: #f4f7fa;
  margin-bottom: 0;
}
.sect3 .sect3-box {
  position: relative;
}
.sect3 .sect3-box .tab-list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
  transition: 0.35s;
}
@media (max-width: 1100px) {
  .sect3 .sect3-box .tab-list {
    margin-bottom: 30px;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .sect3 .sect3-box .tab-list {
    margin-bottom: 25px;
  }
}
.sect3 .sect3-box .tab-list li {
  position: relative;
}
.sect3 .sect3-box .tab-list li span {
  display: block;
  width: 2px;
  height: 24px;
  background-color: #dddddd;
}
@media (max-width: 1100px) {
  .sect3 .sect3-box .tab-list li span {
    height: 19px;
  }
}
@media (max-width: 768px) {
  .sect3 .sect3-box .tab-list li span {
    height: 17px;
  }
}
.sect3 .sect3-box .tab-list li a {
  position: relative;
  font-size: 24px;
  color: #888;
  font-family: var(--medium-font);
  font-weight: 300;
  transition: 0.35s;
}
@media (max-width: 1100px) {
  .sect3 .sect3-box .tab-list li a {
    font-size: 19px;
  }
}
@media (max-width: 768px) {
  .sect3 .sect3-box .tab-list li a {
    font-size: 17px;
  }
}
.sect3 .sect3-box .tab-list li a:hover {
  color: var(--mainColor);
  font-family: var(--bold-font);
  font-weight: 700;
}
.sect3 .sect3-box .tab-list li a.on {
  color: var(--mainColor);
  font-family: var(--bold-font);
  font-weight: 700;
}
.sect3 .sect3-box .product-wrap .product-box.on {
  display: block;
}
.sect3 .sect3-box .product-wrap .product-box {
  display: none;
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box {
  position: relative;
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper-scrollbar {
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  width: 90%;
  height: 4px;
  margin: auto;
  background: #dbdee1;
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper-scrollbar .swiper-scrollbar-drag {
  background: var(--mainColor);
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper .swiper-slide.swiper-slide-active .text-box {
  opacity: 1;
  transform: translateY(0);
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper .swiper-slide {
  position: relative;
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper .swiper-slide .slide-bg {
  position: relative;
  width: 100%;
  height: 720px;
  overflow: hidden;
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper .swiper-slide .slide-bg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: none;
  min-width: 100%;
  max-height: 120%;
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper .swiper-slide .slide-bg::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: url(../img/dimd2_main.png) no-repeat;
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper .swiper-slide .text-box {
  position: absolute;
  opacity: 0;
  transition-delay: 0.5s;
  transition-duration: 1s;
  transform: translateY(50%);
  top: 10%;
  left: 10%;
  z-index: 3;
  color: #fff;
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper .swiper-slide .text-box .tag-list {
  display: flex;
  gap: 3px;
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper .swiper-slide .text-box .tag-list li {
  display: block;
  height: 27px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 27px;
  border: 0.5px solid #fff;
  border-radius: 15px;
  font-family: var(--light-font);
  font-weight: 300;
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper .swiper-slide .text-box .product-title {
  margin-top: 30px;
  font-size: 30px;
  font-family: var(--bold-font);
  font-weight: 700;
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper .swiper-slide .text-box .product-desc {
  margin-top: 30px;
  font-size: 18px;
  line-height: 30px;
  font-family: var(--light-font);
  font-weight: 300;
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper .swiper-slide .text-box .view-btn {
  position: relative;
  display: block;
  margin-top: 60px;
  width: 108px;
  height: 50px;
  padding: 0 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  border: 1px solid #fff;
  overflow: hidden;
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper .swiper-slide .text-box .view-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper .swiper-slide .text-box .view-btn::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.35s;
  background-color: var(--mainColor);
}
.sect3 .sect3-box .product-wrap .product-box .only-web .inner-box .swiper .swiper-slide .text-box .view-btn:hover::after {
  top: 0;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box {
  position: relative;
  padding: 0 50px;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .view-box {
  width: 100%;
  margin-bottom: 50px;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .view-box .img-box {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .view-box .tag-list {
  display: flex;
  gap: 3px;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .view-box .tag-list li {
  display: block;
  height: 27px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 27px;
  border: 0.5px solid #666;
  border-radius: 15px;
  font-family: var(--light-font);
  font-weight: 300;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .view-box .product-title {
  margin-top: 15px;
  font-size: 24px;
  font-family: var(--bold-font);
  font-weight: 700;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .view-box .product-desc {
  margin-top: 15px;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--light-font);
  font-weight: 300;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .view-box .view-btn {
  display: block;
  width: 60px;
  height: 16px;
  margin-top: 15px;
  background: url(../img/go-right-icon.png) no-repeat center center/100%;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .swiper .swiper-scrollbar {
  opacity: 0;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .swiper .swiper-slide {
  position: relative;
  width: 150px;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .swiper .swiper-slide .img-box {
  position: relative;
  width: 100%;
  height: 84px;
  overflow: hidden;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .swiper .swiper-slide .img-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  max-height: 120%;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .swiper .swiper-slide .product-title {
  font-size: 19px;
  color: #333;
  font-weight: 400;
  margin-top: 13px;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .more-product-btn {
  position: relative;
  display: block;
  margin-top: 60px;
  width: 108px;
  height: 50px;
  padding: 0 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  border: 1px solid #666;
  overflow: hidden;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .more-product-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .more-product-btn::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.35s;
  background-color: var(--mainColor);
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .more-product-btn:hover {
  color: #fff;
}
.sect3 .sect3-box .product-wrap .product-box .only-mob .inner-box .more-product-btn:hover::after {
  top: 0;
}

.sect4 {
  width: 100%;
  background-color: #f4f7fa;
}
.sect4 .sect4-box {
  padding: 50px;
}
.sect4 .sect4-box .inner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  transition: 0.35s;
}
@media screen and (max-width: 1500px) {
  .sect4 .sect4-box .inner-box {
    gap: 50px;
  }
}
@media screen and (max-width: 1300px) {
  .sect4 .sect4-box .inner-box {
    gap: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .sect4 .sect4-box .inner-box {
    flex-direction: column;
  }
}
.sect4 .sect4-box .inner-box .main-text {
  font-size: 26px;
  line-height: 40px;
  font-family: var(--light-font);
  font-weight: 400;
}
@media screen and (max-width: 1100px) {
  .sect4 .sect4-box .inner-box .main-text {
    display: none;
  }
}
.sect4 .sect4-box .inner-box .swiper-box {
  position: relative;
  width: 40vw;
  max-width: 720px;
  height: 40vw;
  max-height: 720px;
}
@media screen and (max-width: 1100px) {
  .sect4 .sect4-box .inner-box .swiper-box {
    width: 100%;
    max-width: 720px;
    height: initial;
    max-height: initial;
    padding-bottom: 50px;
  }
}
.sect4 .sect4-box .inner-box .swiper-box .sect4-swiper {
  width: 100%;
}
.sect4 .sect4-box .inner-box .swiper-box .sect4-swiper .swiper-slide {
  width: 100%;
  height: 100%;
}
.sect4 .sect4-box .inner-box .swiper-box .sect4-swiper .swiper-slide .text-box {
  margin-top: 30px;
}
.sect4 .sect4-box .inner-box .swiper-box .sect4-swiper .swiper-slide .text-box .title-text {
  font-size: 28px;
  font-family: var(--bold-font);
  font-weight: 700;
  transition: 0.35s;
}
@media (max-width: 768px) {
  .sect4 .sect4-box .inner-box .swiper-box .sect4-swiper .swiper-slide .text-box .title-text {
    font-size: 22px;
  }
}
.sect4 .sect4-box .inner-box .swiper-box .sect4-swiper .swiper-slide .text-box .desc-text {
  font-size: 34px;
  margin-top: 17px;
  font-family: var(--light-font);
  font-weight: 400;
  transition: 0.35s;
  color: #737373;
}
@media (max-width: 768px) {
  .sect4 .sect4-box .inner-box .swiper-box .sect4-swiper .swiper-slide .text-box .desc-text {
    font-size: 25px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1101px) {
  .sect4 .sect4-box .inner-box .swiper-box .sect4-swiper .swiper-slide .text-box {
    display: none;
  }
}
.sect4 .sect4-box .inner-box .swiper-box .swiper-next-btn {
  display: block;
  width: 90px;
  height: 16px;
  margin-top: 30px;
  background: url(../img/go-right-icon.png) no-repeat 0 0;
  cursor: pointer;
  transition: 0.35s;
}
@media screen and (min-width: 1101px) {
  .sect4 .sect4-box .inner-box .swiper-box .swiper-next-btn {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .sect4 .sect4-box .inner-box .swiper-box .swiper-next-btn {
    width: 60px;
    height: 16px;
    background: url(../img/go-right-icon.png) no-repeat 0 0;
    background-size: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .sect4 .sect4-box .inner-box .menu-box {
    display: none;
  }
}
.sect4 .sect4-box .inner-box .menu-box a.on {
  color: var(--mainColor);
}
.sect4 .sect4-box .inner-box .menu-box a {
  display: block;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #ebebeb;
  color: #999;
  word-break: keep-all;
}
.sect4 .sect4-box .inner-box .menu-box a .title-text {
  font-size: 16px;
  font-family: var(--bold-font);
  font-weight: 700;
}
.sect4 .sect4-box .inner-box .menu-box a .desc-text {
  font-size: 20px;
  line-height: 32px;
  margin-top: 15px;
}

.sect5 {
  width: 100%;
}

.sect6 {
  width: 100%;
}

.sect7 {
  width: 100%;
}

.sect8 {
  width: 100%;
}

footer {
  width: 100%;
}